[2020-08-16 18:00] #221 closed

[2020-08-17 14:43] Yey007 commented on #240
The issue appears to stem from these lines in `CLAccelerator`:

[code]

[2020-08-17 14:47] Yey007 commented on #240
The fix for this should (hopefully) be relatively easy, as long as we can either

1. Find a native method that already does this (what does it even mean to synchronize a CL queue?)
2. Find a way to get all streams bound to an accelerator. This may already exist in ILGPU or we may have to add a private `List` of streams.

[2020-08-17 22:36] MoFtZ commented on #241
Looks like there were no API changes between cuBlas v10 and v11.

Also, not sure why v10.2 is failing, because it uses the same DLL name as v10.0. Maybe an issue with the search path?

[2020-08-17 22:59] LukePoga commented on #241
Amazing thanks.

There are many optimisations for Ampere in v11.

[2020-08-18 08:02] #241 closed

[2020-08-18 09:18] MoFtZ commented on #240
@Yey007 The OpenCL functions for reading/writing buffers requires a command queue (`clEnqueueReadBuffer`, `clEnqueueWriteBuffer`). In theory, you should be able to use `Stream.Synchronize()` (internally calling `clFinish`) to wait for the stream to complete.

My initial thoughts are we would need the accelerator to maintain a list of streams, because there is no global synchronisation. But we also

[2020-08-18 13:16] m4rs-mt commented on #240
@Yey007 @MoFtZ It makes sense to maintain a list of streams to synchronize. However, the `Accelerator` instance maintains a list of non-disposed child-objects via `WeakReference` associations (`childObjects`, see [here](https://github.com/m4rs-mt/ILGPU/blob/master/Src/ILGPU/Runtime/AcceleratorObject.cs#L108)). We could use this list to resolve the actually "active" streams and synchronize them. Ho

[2020-08-18 16:03] Yey007 commented on #240
I don't exactly understand the problem with the GC. It removes unused objects from the list, so there shouldn't be anything left over that was disposed of, right?

[2020-08-18 16:07] Yey007 commented on #240
Additionally, can't we just use something like `WeakReference.IsAlive` to make sure we're not messing with something that isn't there?

[2020-08-18 18:45] m4rs-mt commented on #240
@Yey007 there is no particular problem with our Accelerator GC. I just wanted to note that we have to take concurrency into account while iterating over the list 🤓

[2020-08-18 21:44] Yey007 commented on #240
Alright, I'll try to get working on this.

[2020-08-26 20:55] m4rs-mt opened #250 "Float16x2 (Half2) Support"
We have recently added FP16 support to ILGPU to benefit from 16-bit float calculations on modern GPUs. However, ILGPU does not support the FP16x2 (Half2) type to compute two 16-bit float operations in one cycle. By supporting this type, we can significantly improve floating-point performance on the latest GPU architectures.

[2020-08-26 20:58] m4rs-mt opened #251 "Loop Unrolling"
ILGPU currently does not support loop unrolling in any form. We should add a new loop-unrolling transformation to aggressively unroll certain loops to improve performance. On the one hand, this will increase the overall size of the code, but on the other hand it will also significantly increase the potential for optimization (similar to inlining).

[2020-08-26 21:11] #108 closed

[2020-08-28 17:21] Yey007 commented on #251
Do you think this will be added only to O2 or Release/Debug as well?

[2020-08-30 20:41] m4rs-mt commented on #251
@Yey007 I guess we should add this to the O2 pipeline first. Let's see whether we enable this in `Release` mode.

[2020-08-31 09:40] xxl-cc commented on #218
My kernel parameter type is  ArrayView<float> , and my index parameter is  ArrayView<float>.Extent . When I upgrade from 0.8.1 to 0.9, the same exception is thrown. Do I need to call the index conversion function ToIntIndex() explicitly?The workload is relatively large.

[2020-09-01 10:18] #222 closed

[2020-09-02 07:11] m4rs-mt commented on #218
@xxl-cc This feature is currently not available. We have to think about a clever design to realize such an extension first. However, if you pass an extent of a `MemoryBuffer` or an `ArrayView` to a delegate kernel launcher, the cast will be automatically done for you. If you launch your kernel using an untyped launcher (like `myKernel.Launch(...)`) you have to convert the `LongIndexX` extent to an

[2020-09-04 03:49] binaryalgorithm opened #256 "Are structs with fixed size arrays supported?"
unsafe struct FSMUnit
        {
            public int tx;
            public int ty;
            public fixed int test[256];
            public fixed int test2[256];
        }
        unsafe static void MathKernel(Index2 index, ArrayView2D<FSMUnit> grid)
        {
            int tx = index.X;
            int ty = index.Y;

            grid[tx, ty].tx = tx;
            grid[tx, ty].ty = ty;

[2020-09-04 05:18] binaryalgorithm commented on #256
I setup the kernel compiler and exported the source (OpenCL 2.0) :
https://pastebin.com/LYte700x

[2020-09-04 05:34] binaryalgorithm commented on #256
I see that it isn't using fixed array within the generated struct, and it doesn't match the expected memory layout; instead it tries to make a field for each byte generally. This might be an OpenCL specific problem with how it compiles it?

[2020-09-06 02:20] Yey007 commented on #256
I tested this first on Cuda. I can confirm that it throws a NotSupportedException when running [this code](https://gist.github.com/Yey007/b3c26fc755ad0d610c72119f3add9cb9). The exception reads:

[2020-09-06 02:24] Yey007 commented on #256
Although, I just got this exception in CL as well, so it actually running may be specific to your case?

[2020-09-06 02:39] Yey007 commented on #256
Oops, this is embarrassing... I may have been testing on 0.8.1.1. On 0.9, I can confirm the described issue on OpenCL, but on CUDA this kernel will not load at all. The exception thrown sounds a bit unrelated, but that is the nature of ILGPU exceptions at the moment:
`System.TypeLoadException: 'Access is denied: 'ILGPU.Backends.PointerViews.ViewImplementation1[ILGPUTesting.Program+FSMUnit]'.'`

In

[2020-09-06 03:02] Yey007 commented on #256
I also tried with only one fixed array. Works fine on OpenCL, but on CUDA it throws the exception above. Changing the order of the arrays in the struct will also change which one gets filled. In 0.8.1.1, anything with fixed arrays appears to throw an exception, but I'm not even sure if it was implemented in that version.

[2020-09-06 08:03] binaryalgorithm commented on #256
Looking at the compiled kernel code, it's making a field for every byte rather than an array, and the memory layout doesn't seem quite right except for the case of fixed byte[], though any of them exhibit the behavior where the first array seems to fill right and anything after that is addressed incorrectly.

I don't think the feature is properly supported. Regular structs with primitives seem to

[2020-09-06 14:18] Yey007 commented on #256
Is the sizing actually correct? I would have expected to see 2048 char fields, not 2040. Also, what's up with the second struct with all of those char fields? Is that what gets compiled for the code you sent above?

[2020-09-06 16:55] m4rs-mt commented on #256
@binaryalgorithm Thank you for your issue report and welcome to the community. One of the issue with fixed array buffers is the fact that the managed type information is set up in a way that we have to pad the managed structures to a particular size. ILGPU uses bytes to pad the compiler-generated types to their desired sizes (this is the source of the `byte` or `char` elements). Consider the follo

[2020-09-06 16:56] m4rs-mt commented on #256
@Yey007 the issue `TypeLoadException of ILGPUTesting.Program+FSMUnit` refers to an issue that is raised the ILGPU runtime is not able to access the type defined in this custom assembly. Maybe the `[InternalsVisibleTo...]` is missing? However, I believe that the problem is a different one 🤓

[2020-09-06 18:21] Yey007 commented on #256
@m4rs-mt  I see. So, were all those char fields in the emitted program actually data fields or were they just some sort of padding?

[2020-09-06 18:25] Yey007 commented on #256
If it was padding, where is the actual data stored in the given, compiled example? To me, it seems like type_31 should be data, not padding.Maybe I misunderstood you.

[2020-09-06 21:25] m4rs-mt commented on #256
@Yey007 Yes and no 🤓. The field `FixedElementField` in my example above represents the first element of the fixed array buffer. Since the data structure is required to have a size of 1024 bytes, we need to add a virtual "padding" of 1020 elements of type `byte` to the structure in order to match is intended size. Since the frontend does not add padding in a "more clever" way, the byte padding will

[2020-09-07 02:30] Yey007 commented on #256
@m4rs-mt I see. That makes sense now. In the compiled example, `field_0` represents the first element and all of the other char fields represent the rest of the array.

[2020-09-07 04:31] binaryalgorithm commented on #256
The sizeof the struct reported by C# was 2048 + 8 bytes. Padding is only applied in C# when a member is not 4 byte aligned I think, but using [StructLayout(LayoutKind.Sequential, Pack = 1)] removes extra padding and makes each member adjacent to the previous one. (in this case no difference since they were all aligned).

Marshal.OffsetOf can be used to confirm the layout on the C# side:

var f1 =

[2020-09-07 08:38] xxl-cc opened #257 "Thank you very much for the library provided by the author. My program is ready to run, but it needs large memory. I'm trying to adjust the code."
Can there be a more detailed example of the ExchangeBuffer？Is pinned memory zero-copy?

[2020-09-08 06:47] m4rs-mt commented on #257
@xxl-cc We can provide an example demonstrating the use of the `ExchangeBuffer` class 🤓 The "only thing" you need to do is to allocate an `ExchangeBuffer` instance like a default memory buffer. Afterwards, you can use the `CopyToAccelerator` and `CopyFromAccelerator` methods to transfer data between the CPU and GPU buffers. Use the appropriate View-getters to access the CPU/GPU memory buffers stor

[2020-09-08 07:32] MoFtZ opened #258 "Synchronization issues with OpenCL"
When a memory copy is performed in Cuda, followed by a kernel launch, the two operations are performed sequentially.

In OpenCL, even though we are using an in-order queue, the kernel launch sometimes occurs before the memory copy has finished.

I noticed this behaviour in the past, and [this article](https://community.intel.com/t5/OpenCL/clEnqueueWriteBuffer-does-not-finish-before-Kernel/td-p/107

[2020-09-08 22:01] MoFtZ commented on #258
As per https://github.com/m4rs-mt/ILGPU/pull/246#issuecomment-689155307, maybe we can use one of the marker functions `clEnqueueMarkerWithWaitList` or `clEnqueueBarrierWithWaitList`?

Before (or after) adding a command to a queue, we add a marker. This will then provide sequential behaviour like CUDA without having to keep explicitly track the last event.

For example, we could add a marker to wai

[2020-09-09 00:24] Yey007 commented on #257
Zero-copy does sound like a good thing to add to `ExchangeBuffer` in the future though. I'm not sure if ti would be possible with the current architecture, but maybe if we write some zero-copy `MemoryBuffer`-like classes?

Thoughts?

[2020-09-09 22:58] m4rs-mt commented on #256
My comment was a bit misleading. From a compiler's point of view, ILGPU adds a "custom padding" to the structure in order to match its intended size of 2048 + 8 bytes 🤓.

There is an issue in the offset computation in the Cuda and CL backends. The issue is caused by multiple fixed array buffers within the same structure, which makes this an internal compiler bug.

[2020-09-10 08:48] m4rs-mt commented on #258
@MoFtZ Sounds good to me. I guess the overall overhead can be assumed to be negligible. I made several experiments on different machines and did not encounter any significant slowdowns 🚀

[2020-09-10 22:32] binaryalgorithm commented on #257
I was interested in this too. CUDA calls it unified memory (so that explicit copy doesn't need to happen - instead pointers are shared between CPU/GPU after buffer mapping). In OpenCL it is called rather SVM Buffer (shared virtual memory). I recently upgraded to an OpenCL 2.0 device but I haven't ever tried to use this functionality in C#. I think you have to take care to pin the buffer memory in

[2020-09-13 13:41] #256 closed

[2020-09-15 09:35] #213 closed

[2020-09-17 08:53] xxl-cc opened #265 "Using three-dimensional data as a parameter, the speed difference of the same function is eight times"
public int coordinate2index(Int3 d)
        {
            return d.X * (n_crystal_x * n_crystal_y) + d.Z * n_crystal_x + d.Y;
        }
        public int coordinate2index(int m, int x, int y)
        {
            return m * (n_crystal_x * n_crystal_y) + y * n_crystal_x + x;
        }
Execute 200 million cycles, and the first function takes several times the execution time of the second function。

[2020-09-17 09:45] xxl-cc opened #266 "Does kernel function support tuple type？"

[2020-09-17 10:51] m4rs-mt commented on #265
@xxl-cc Can you provide more information and a small sample program to reproduce this effect?

[2020-09-17 10:55] xxl-cc commented on #265
public void Test2()
        {
            Stopwatch watch = new Stopwatch();
            watch.Start();
            int look = 200000000;

            Int3 d = new Int3(1, 2, 3);
            for (int i = 0; i < look; i++)
            {
                var t = coordinate2index(d);
            }

            watch.Stop();
            Console.WriteLine(watch.ElapsedMilliseconds);
            watch.Re

[2020-09-17 10:56] m4rs-mt commented on #265
@xxl-cc It looks like you are executing the functions using the default .Net compilation pipeline, and not in the scope of an ILGPU kernel...?

[2020-09-17 10:58] xxl-cc commented on #265
I took this function out on its own, and it was actually handled in my kernel

[2020-09-17 10:59] m4rs-mt commented on #265
@xxl-cc Did you enable `AggressiveInlining`? It would be great if you could provide a simplified program that reproduces this issue. This significantly helps us to reproduce your findings 🤓

[2020-09-18 08:46] #258 closed

[2020-09-19 11:31] MoFtZ commented on #266
hi @xxl-cc, ILGPU does not currently support tuple types (`System.ValueTuple`). The reason is because that struct is defined using `[StructLayout(LayoutKind.Auto)]`.

According to the .NET documentation:

As a replacement, you can use `ILGPU.Util.DataBlock`, or provide your own structures.

[2020-09-21 02:07] #250 closed

[2020-09-21 02:51] #251 closed

[2020-09-21 17:06] #240 closed

[2020-09-25 18:14] m4rs-mt opened #277 "Extended loop unrolling for loop nests"
The current loop-unrolling features are limited to inner-most loops (#259). We should extend the current transformation to enable unrolling of loop nests and outer-most loops. This can significantly improve performance in many cases.

[2020-09-26 14:17] m4rs-mt opened #278 "Additional arithmetic simplifications"
Currently the ILGPU compiler can fold constant expressions. However, it cannot perform a partial folding of expressions like `(x + 1) + 1)`. This should be changed in order to generate more efficient code and to reduce the code size when unrolling loops.

Furthermore, we should revise all simplification patterns as they are tightly coupled to the `IRBuilder`.

[2020-09-27 13:27] m4rs-mt opened #284 "Explicit generation of FP16x2 instructions it PTX Backend"
The PR #273 added basic support for `Half2` (`FP16x2`) types but relies on the driver to generate the appropriate packed `fp16x2` PTX instructions. However, the driver sometimes fails to generate aggregated instruction sequences that operate on `fp16x2`. Instead, we should extend the PTX Backend to generate vectorized instruction sequences of packed `half` types whenever possible.

[2020-10-01 21:37] #266 closed

[2020-10-01 21:38] #278 closed

[2020-10-01 21:39] #277 closed

[2020-10-01 21:41] #122 closed

[2020-10-02 14:31] SoftSharper opened #286 "Please, remove the last empty line in TypeInformation.ttinclude."
Please, remove the last empty lines from the TypeInformation.ttinclude and DllImporter.ttinclude files.  TextTransform always fails when a line without a token is there.

[2020-10-02 17:17] MoFtZ commented on #286
@SoftSharper what compiler/tool and version are you using to transform the T4 templates?

[2020-10-02 23:17] MoFtZ opened #287 "Allocated local memory on the GPU is uninitialized"
Within a kernel, if we allocate memory e.g. `var temp = new int[9];`, the contents of that array will be uninitialized. However, if we do that allocation on the CPU accelerator, it will be initialized to 0, as per the conventions of .NET.

This can make it difficult to debug issues, since it behaves differently on the GPU. Should we initialized the contents of the array?

[2020-10-04 12:36] #103 closed

[2020-10-05 08:19] #286 closed

[2020-10-05 21:04] samy2 opened #292 "Kernel compilation issue with OptimizationLevel.O2"
Hi,
The following test works with ILGPU 0.8.1.1, but not with ILGPU 0.9.1 when running with .net framework 4.8 in release mode:

    class ILGpuTest
    {
        [Test]
        public void CompilationTest()
        {
            using var context = new Context(ContextFlags.None, OptimizationLevel.O2);
            using var gpu = new CudaAccelerator(context, 0);
            var method = typeof(ILG

[2020-10-05 21:12] m4rs-mt commented on #292
@samy2 Thank you for submitting this issue report with a minimal example of how to reproduce this problem. I can reproduce this issue using the example provided. The problem seems to be related to the new `LoopUnrolling` transformation. I will take a closer look at it.

[2020-10-06 10:08] #292 closed

[2020-10-06 11:31] #265 closed

[2020-10-06 18:23] samy2 commented on #292
Thank you for the quick fix!

[2020-10-07 21:52] m4rs-mt commented on #287
Yes, you are right. I guess we should add initialization code for managed arrays by creating `ArraySetElement` values for each individual value in the IR for now. Alternatively, we could try to initialize the arrays in the different backends during final code generation.

[2020-10-08 08:22] MoFtZ commented on #287
would it be easy to detect usage of the array before it is initialized? this would allow us to selectively initialize the array - only when it is used, and before a value is set.

[2020-10-09 10:51] MoFtZ opened #296 "Regression in arithmetic simplications affecting ILGPU v0.9.2-beta1"
The changes in https://github.com/m4rs-mt/ILGPU/pull/283 has caused a regression in ILGPU.Algorithms.

For example, ILGPU.Algorithms.Tests.Cuda.CudaGroupExtensionTests_Debug.ExclusiveScanAdd fails with "an illegal memory access was encountered".

Looking at the PTX output, there's a one line difference.

Requires further investigation.

[2020-10-09 22:45] MoFtZ commented on #287
Sounds good 👍

[2020-10-09 23:58] MoFtZ commented on #296
It looks like the divide operation is being translated into a shift operation. Then, the shift operation and the subtraction operation are being incorrectly folded together.

Minimal example of the problem:
[code]

[2020-10-13 09:20] m4rs-mt commented on #296
I am going to have a closer look 👀

[2020-10-13 21:04] MoFtZ commented on #296
My initial thoughts are that this is related to [Operator Precedence](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/#operator-precedence). The shift operator and the addition operator are of different precedence, and so one must occur separately to the other.

I'm also assuming that the C# compiler should have already dealt with reordering the operators, so that the o

[2020-10-23 21:37] #296 closed

[2020-10-30 03:18] sohaspaces opened #301 "Act of a cpu and a accelerator differs (may be bug)"
I think this library really great, but this code using the library prints result which doesn't make sense.
[code]

Obviously, the method gpu (Compiled for CUDA by using Acclerator.LoadAutoGroupedStreamKernel) and Cpu is supposed to act the same as each other except for memory to write the result on.
But the result of the first one (=-1) and the second one(=255) differs.

The value of the field x o

[2020-10-31 07:51] sohaspaces commented on #301
I found the fact that the problem doesn't occur when the type of accelerator is AcceleratorType.CPU.
I didn't test the case of AcceleratorType.OpenCL because My graphic card is NVIDIA that doesn't support OpenCL.
But I think this can help to fix the problem by reducing the range in which the problem occurs.

[2020-10-31 12:24] m4rs-mt commented on #301
@sohaspaces Thank you for submitting this issue and welcome to the ILGPU community. A small hint: Instead of writing
[code]
you can also use
[code]
which will automatically picks the main Cuda accelerator for you.

Regarding your issue: I am able to reproduce this problem with the latest version of ILGPU. This problem seems to be related to #221, which also involved unsigned int8 (`byte`) types. A

[2020-11-01 03:20] sohaspaces commented on #301
[code]
In this code, the same phenomenon occurs. (byte became ushort, 255 became ushort.MaxValue, nothing else changed).
But it doesn't occur in case of uint and ulong.

[2020-11-01 23:24] MoFtZ opened #308 "Regression in ILGPU.Algorithms XMath unit tests from Aggresive Inlining"
With the changes in ILGPU for [aggressive inlining](https://github.com/m4rs-mt/ILGPU/pull/294), and after updating ILGPU.Algorithms to use [ILGPU v0.9.2-beta1](https://github.com/m4rs-mt/ILGPU.Algorithms/pull/62), some XMath unit tests are failing.

Reverting just the aggressive inlining commit in ILGPU will avoid the issue.

Further investigation required.

[2020-11-01 23:42] m4rs-mt commented on #308
Can we mark them with `[MethodImpl(MethodImplOptions.NoInlining)]`? Does this circumvent the problem?

[2020-11-01 23:48] MoFtZ commented on #308
Looks like it's affecting `XMath.Cordic.Exp(double)`, and any method that uses it (e.g. Cosh).

@m4rs-mt Yes, added NoInlining to the method fixes the issue. I will make the necessary changes to https://github.com/m4rs-mt/ILGPU.Algorithms/pull/62.

The original call stack during the crash was triggering `AssertNoControlFlowUpdate`. Looks like this occurred because the `Exp` calls itself again for

[2020-11-01 23:48] #308 closed

[2020-11-02 07:02] sohaspaces commented on #301
Upgrading to the lasted version you uploaded today (based on my time zone) also fixes this issue!
Thanks!

[2020-11-03 17:05] deng0 opened #309 "[0.9.2-beta1] PTXInstructionSet.ISA_71 missing from PTXCodeGenerator.SupportedInstructionSets"
It seems it was forgotten to add PTXInstructionSet.ISA_71 to PTXCodeGenerator.SupportedInstructionSets.

[2020-11-03 17:09] deng0 opened #310 "[0.9.2-beta1] OpenCL: Float16 (Half) type is not supported on this device"
When I try to build a Kernel for OpenCL with 0.9.2-beta1 I get the following exception:

[code]

The same worked with ILGPU 0.9.1.
(I'm not sure if that matters, but as far as i can tell, my source does not even use Float16.)

[2020-11-03 17:26] deng0 commented on #309
hmm... not sure if that is related:
After I added ISA_71 to SupportedInstructionSets I was able to compile and run a CUDA kernel on the Ampere GPU.
But for another kernel I get the following exception, when trying to compile the kernel:
[code]

[2020-11-03 19:26] MoFtZ commented on #309
@deng0 Thanks for reporting the issues.

It looks like I missed that the new sm_86 architecture is only supported by the 7.1 instruction set. As you said, we'll need to add 7.1 to the supported instruction sets.

Regarding your second issue, this is affecting the ILGPU.Algorithms library. There is a breaking change in the API, which requires some minor changes - see https://github.com/m4rs-mt/ILGP

[2020-11-03 19:31] MoFtZ commented on #310
It looks like your device does not support Float16.

During the constructor of CLTypeGenerator, it is trying to initialize the basic types. Will need to add a check to conditionally register Float16.

[2020-11-03 21:21] m4rs-mt commented on #309
@deng0 @MoFtZ As you said, sm_86 requires the 7.1 ISA on the one hand. On the other hand, the A100 GPUs were completely compatible with the 7.0 ISA.

[2020-11-03 21:23] m4rs-mt commented on #310
@deng0 Thank you for your issue report. As @MoFtZ said, we have to conditionally register the `fp16` types to circumvent this exception from being thrown, @MoFtZ right?

[2020-11-03 21:31] m4rs-mt commented on #310
@MoFtZ I wonder why this problem did not show up on my old AMD card that I used to test the master branch before publishing the beta, which does not support `fp16` types.

[2020-11-03 21:41] m4rs-mt commented on #287
@MoFtZ I am currently working on a newly designed `LocalMemory` class, as described above. However, I am also experimenting with removing all "explicit" array values from the IR. I guess, we can safely transform managed arrays into `ArrayView` values inside of the ILGPU IR and express all array operations using "default" pointer-based values. This makes the `LowerArrays` transformation obsolete an

[2020-11-04 03:58] sohaspaces commented on #301
The issue doesn't occur when I assign the field x to a local variable and assign the local variable to the view.
The issue also doesn't occur when I pass the value by not using MyStruct, but ushort type directly.
Furthermore, the issue also doesn't occur when I alternate the field x with a property.
Knowing these facts makes more easier to avoid this issue, but still, It is a bug that should be fi

[2020-11-04 08:00] MoFtZ commented on #310
@m4rs-mt Not sure why your AMD card did not trigger this issue. Could it be that it a recent driver update added support for Float16?

[2020-11-04 11:58] m4rs-mt commented on #310
@MoFtZ It turns out that the AMD driver claims to have FP16 support in the beginning. However, executing a kernel that uses FP16 operations fails 😢

[2020-11-05 08:42] #310 closed

[2020-11-06 19:08] #301 closed

[2020-11-08 15:30] #309 closed

[2020-11-09 01:03] m4rs-mt commented on #193
By adding the `LocalMemory` class (as described in #316), it should be fairly easy to express your problem using explicitly allocated local-array buffers. Even multi-dimensional arrays in local memory can be easily implemented using:

[code]

Since adding support for jagged arrays would require us to deal with more sophisticated class instances in the compiler, there are currently no plans to real

[2020-11-09 01:03] #193 closed

[2020-11-09 02:29] #229 closed

[2020-11-10 09:47] belansoft commented on #193
Thanks Marcel! Having this ability will help my implementations looking more straightforward.

[2020-11-10 11:02] xxl-cc opened #318 "After the screen is closed automatically, GPU calculation is abnormal"
I set no action and then turn off the screen after 10 minutes. When the computer is activated again, the GPU calculation is stopped and throw  Unknown exception， the GPU occupancy in the task manager is zero. I am sure that the computing task has not been completed.

[2020-11-10 18:20] m4rs-mt commented on #318
@xxl-cc thank you for your issue report. This problem sounds like it is directly/indirectly related to the GPU driver that seems to invalidate (parts of?) the context. I am not sure what we can do to circumvent the problem 🤔 any Ideas?

[2020-11-18 14:38] mast3rm1nd opened #325 "How to generate random numbers on GPU?"
Is there any way to to generate random numbers on GPU?
Currently I'm pre-generating array of XorShift128Plus and passing it to GPU, different thread uses it's own instance of XorShift128Plus. All of this almost doubled my calculation times after I discovered that using same static XorShift128Plus results in same random over all threads, but it works now.
Thank you.

[2020-11-19 11:02] MoFtZ commented on #325
@mast3rm1nd do you have any specific requirements for your random numbers? uniform distribution? 32-bit? 64-bit? etc.

I'm not particularly familiar with the topic, but I found this comment about ["jumping"](https://en.wikipedia.org/wiki/Xorshift#Other_variants) in Wikipedia interesting. You initialize the RNG with a seed, and then get each thread to "jump" a different amount, and therefore they g

[2020-11-19 11:55] mast3rm1nd commented on #325
I need uniformly distributed  doubles between 0 and 1
Just tried, "jumping" variant takes even more time (I'm spawning 2 million threads)
It would be great if you implement native RNG if it's possible.
Anyway, thank you for such operative reply = )

[2020-11-19 13:21] m4rs-mt commented on #325
@mast3rm1nd Thank you for your issue report. As @MoFtZ outlined, there is currently "not native RNG" support in ILGPU or one of its libraries. Alternatively, you can use the .Net `Random` class to generate the initial seeds for the `XorShift128Plus` instances (use `XorShift128Plus.Create(random)` and copy them into your GPU buffer. Afterwards, you can use each individual `XorShift128Plus` instance

[2020-11-19 18:04] MoFtZ commented on #325
@mast3rm1nd With your initial working application that generates random numbers, do you know what is causing the performance hit?

If it's generating the initial XorShift128Plus instances on the CPU, maybe you could try [generating it in parallel] (https://devblogs.microsoft.com/pfxteam/getting-random-numbers-in-a-thread-safe-way/).

[2020-11-19 18:12] mast3rm1nd commented on #325
Already did parallel generation\processing of  input\output data, and it indeed helped greatly.
So currently weakest spots is need in large amount of GPU memory and pre\post-processing by CPU.

[2020-11-19 18:28] MoFtZ commented on #325
When spawning your 2 million threads, how many instances of XorShift128Plus are you creating? Are you able you reduce the number of instances by sharing them between groups?

Also, with the "jumping", these RNGs appear better suited (https://en.m.wikipedia.org/wiki/Counter-based_random_number_generator_(CBRNG).

[2020-11-19 18:34] mast3rm1nd commented on #325
I'm creating 2 mln instances of XorShift128Plus
Pre-calculating and allocating all my stuff takes ~0.7 second
Everything regarding GPU performance is great, thank you : )

[2020-11-19 18:34] #325 closed

[2020-11-22 13:58] m4rs-mt commented on #318
Closed for the time being due to inactivity

[2020-11-22 13:58] #318 closed

[2020-11-22 17:09] #287 closed

[2020-11-24 05:55] xxl-cc opened #329 "0.9.1 update to 0.9.2 throw exception"
ILGPU.InternalCompilerException: An internal compiler error has been detected ---> System.AggregateException: 发生一个或多个错误。 ---> System.MissingMethodException: 找不到方法:“System.String ILGPU.Backends.PTX.PTXInstructions.GetArithmeticOperation(ILGPU.IR.Values.UnaryArithmeticKind, ILGPU.ArithmeticBasicValueType, Boolean)”。

stacktrace：

   at ILGPU.Backends.Backend.Compile[TBackendHook](Method kernelMethod

[2020-11-24 07:33] MoFtZ commented on #329
@xxl-cc There is a breaking change in ILGPU v0.9.2 that is affecting ILGPU.Algorithms. Please wait for the next release of ILGPU.Algorithms.

[2020-11-24 19:52] Aleksey1555 opened #330 "GetRowView strange behavior"
Hello.
I write this code:
[code]
and the res is [10,30]
How can it be?
I mean that - 0 row index must return array of [10,20] !
but as you can see, it return's [10,30].
Maybe this is the error?

And if set 1 to GetRowView, like this:
`ArrayView<int> res= mb.GetRowView(1); `
this return error **"invalid argument"**

Is this some kind of error?
Please answer

[2020-11-25 09:43] m4rs-mt commented on #330
@Aleksey1555 Thank you for submitting this issue and welcome to the ILGPU community. The reason why you receive "10, 30" is the fact that all `X`-dimension values are stored consecutively in memory: "10, 30, 20, 40". This mimics the "default" computer graphics behavior, which expects all `X`-dimension values to be stored after each other in memory.

Regarding your "invalid argument" issue: I am ab

[2020-11-25 17:41] Ruberik commented on #330
@m4rs-mt Does that mean that when you call ca.Allocate, it reorders the contiguous chunk of memory? Is there a way to disable that behaviour?

[2020-11-25 18:18] MoFtZ commented on #330
@Ruberik yes, for multi-dimensional arrays, ILGPU will re-order the elements when copying to/from the GPU.

Internally, ILGPU is re-ordering those elements into a linear array. This linear array is then supplied to the GPU drivers.

To workaround the re-ordering, you can use a linear array. Then, use the functions like `As2DView` to re-interpret the linear view as a multi-dimensional view.

[2020-11-25 20:24] Ruberik commented on #330
Thanks for the workaround suggestion; you're right that it could work, though of course both the way it's implemented now and the workaround are slower than copying the data in the order it was already in.

I gather it's fairly common among GPU libraries to have a flag to choose the behaviour here. Is that something that exists, or that you'd consider adding? My reasoning follows.

I care about me

[2020-11-26 00:08] Ruberik commented on #330
By the way, I ended up working around the reordering by manually transposing the array. Now it gets transposed twice, and I get the locality I want (albeit with the indexing I don't want). I don't think it's a great solution, but... that's why they call it a workaround!

[2020-11-26 19:13] samy2 opened #331 "Wrong result with ILGPU 0.9.2"
Hi,
This is quite strange. This test works with ILGPU 0.8.1.1, but fails with 0.9.2

        [Test]
        public void Test2()
        {
            using var context = new Context();
            using var gpu = new CudaAccelerator(context);
            var gpu_result1 = gpu.Allocate<int>(1);
            var gpu_result2 = gpu.Allocate<int>(1);
            var kernel = gpu.LoadKernel<ArrayView<int

[2020-11-26 19:52] m4rs-mt commented on #331
@samy2 Thank your for your issue report 🔢 Unfortunately, I am not able to reproduce your issue using the sample provided (neither with v0.9.2, nor with the latest master branch). Can you provide more information?

[2020-11-26 20:06] samy2 commented on #331
@m4rs-mt
Ok, that's strange...
My project is targeting .Net framework 4.8. I'm using VS 2019 version 16.8.2.
I'm using the official ILGPU 0.9.2 package from Nuget.org :
`<package id="ILGPU" version="0.9.2" targetFramework="net48" />`
The project works well with ILGPU 0.8.1.1

[2020-11-26 20:17] samy2 commented on #331
I will try to investigate more, and reproduce the problem in an empty project.

[2020-11-26 20:25] m4rs-mt commented on #331
@samy2 Hm... I just tried v0.9.2 from nuget; without any success at the moment 😢 I also checked the assembler code, and it looks pretty good to me:
[code]
However, this could be a concurrency problem 🤔 This the program always yield the same "wrong" result?

[2020-11-26 20:30] samy2 commented on #331
Ok @m4rs-mt,
yes always the same wrong result.
And if I change
`var warpId = threadIdx >> 5;`
to
`var warpId = threadIdx >> 6;`
the wrong result is 7 (6+1) !

But I just created an empty project from zero, and the problem do not occure any more !
I will investigate more, thank you for your help !

[2020-11-26 20:52] m4rs-mt commented on #331
@samy2 Hm... I guess we should try to investigate this in more detail 🤓😟

[2020-11-26 21:06] samy2 commented on #331
I really don't know what happened, but after removing and reinstalling the ILGPU 0.9.2 package, the problem does not occurs any more ! Sorry for that buggy bug report.
That's really strange, because ILGPU seemed to work : most of my kernels were working ! And the "bug" was 100% reproductible...
@m4rs-mt , Thank you again for your time, and for this wonderful project !

[2020-11-26 21:22] MoFtZ commented on #331
@samy2 is this related to the ILGPU v0.9.2-beta1? There was a bug with constant propagation in the beta.

Maybe when updating from beta to final version of v0.9.2 is having issues.

[2020-11-26 21:32] samy2 commented on #331
No, I didn't install v0.9.2-beta1.
But I remember I build a patched version of v0.9.1 (I created a local version v0.9.1.1), to test the correction of #292.
I guess I messed up something in the process.

[2020-11-26 21:40] m4rs-mt commented on #329
@xxl-cc We have published a new `Algorithms` [package version](https://www.nuget.org/packages/ILGPU.Algorithms/0.9.2) that is compatible with the latest ILGPU release.

[2020-11-26 21:40] #329 closed

[2020-11-29 05:34] sohaspaces opened #332 "Performance profiler (question)"
Is there something like a performance profiler that can analyzes codes that executed in an accelerator such as GPU?

[2020-11-29 11:17] m4rs-mt commented on #332
@sohaspaces Thank you for your question and welcome to the ILGPU community 🤓 ILGPU is compatible with the NVIDIA Performance Analysis tools like [Nsight](https://developer.nvidia.com/nsight-visual-studio-edition).

[2020-11-29 11:20] Aleksey1555 commented on #330
Thanks for answers!

[2020-12-01 02:10] jiatao99 opened #333 "OpenCL (AMD) not working on Linux (manjaro)"
The following line alway return null. Why?

[code]

1. System: Linux (manjaro)
2. GPU: AMD RX580
3. CPU: Ryzen 3900x
4. Installed `opencl-amd`
5. Installed `clinfo` which report back correct OpenCL driver (1.2 C)

I also set the `LD_LIBRARY_PATH` environment variable to `/etc/OpenCL/venders` which contains OpenCL loader. I also tried `LD_LIBRARY_PATH` with `/usr/lib` which contains `libOpenCL.so`

[2020-12-01 15:46] jiatao99 opened #334 "MacOS Bug"
I tried to use your wrapper in MacOS and found a couple bugs:

1. `[DllImport("libOpenCL", EntryPoint = "xxx")]` is incorrect. The name should be OpenCL.
      - I copied OpenCL to libOpenCL in Mac
      - I add `LD_LIBRARY_PATH` in the environment variable
      - the CurrentApi.IsSupported now becomes true
2. I got AMD Radeon 5300M OpenCL id using something like below
[code]
3. When I tried to c

[2020-12-01 16:07] m4rs-mt commented on #333
@jiatao99 Thank you for your issue report and welcome to the ILGPU community. Hmm seems to be an issue in the detection of the OpenCL accelerators. Maybe the problem is related to the fact that it cannot load the native OpenCL library or ILGPU "thinks" that the GPU is not compatible (although it should support OpenCL 2.0 according to AMD). However, if `1.2 C` refers to the OpenCL (C) version that

[2020-12-01 16:10] m4rs-mt commented on #334
@jiatao99 Thank you for submitting this issue report. We already revised the `OpenCL` library name on MacOS based on some feedback in one of our latest releases. However, as far as I know Apple has [discontinued support for OpenCL](https://support.apple.com/en-us/HT202823) and supports OpenCL 1.2 only. The error message you are referring to is definitively a bug, since the error message should be

[2020-12-01 16:18] jiatao99 commented on #333
I don't see anywhere having a driver for OpenCL(C 2.0) for AMD though. Is there any function that must require 2.0?

Also the macOS does NOT support OpenCL 2.0.

If 2.0 is NOT an absolute requirement, is it possible to remove this dependency?

[2020-12-01 16:35] m4rs-mt commented on #333
I'm not sure I understood your point of view in this context. There are definitely people out there who run ILGPU with AMD cards if that was your question.

OpenCL programs operate on pointers living in different address spaces (can be seen as different "regions" in memory). By default, all pointers work on the "generic" address space (any region in memory), which is specialized later in the compi

[2020-12-01 16:47] jiatao99 commented on #333
I tried to set LD_LIBRARY_PATH with `/usr/lib` which contains `libOpenCL.so`. However, CLAccelerator.AllCLAccelerators still returns empty collection. In mac, I can get the AMD cpu like I mentioned in another thread.

[2020-12-01 19:56] jiatao99 commented on #334
I found the bug in CLAPI.cs

in CreateCommandQueue function, instead of clCreateCommandQueue you called clCreateCommandQueueWithProperties which causing the exception thrown in MacOS. I recompiled your project and this error is gone

However, I do get NotSupportException accelerator.LoadAutoGroupedStreamKernel indicating OpenCL >= 2.0 is required

I guess this is a dead end for MacOS.

[2020-12-01 20:11] m4rs-mt commented on #334
Thanks for digging into this 🤓. However, as I explained above by providing the link, `clCreateCommandQueueWithProperties` is available in OpenCL >= 2.0 and offers much better interop with the OpenCL platform. Therefore, I argue that this is not the actual "bug" you are referring to. Instead, we should throw a better error message, because the driver will not be compatible in any way.

[2020-12-01 20:52] jiatao99 commented on #334
Agree. For MacOS, everything is stayed at version 1.2.

For Linux, the AMD driver only support C 1.2. I will try ROCm driver next. Hopefully that works.

Do you have instruction on how to make it work on Linux (assume it is C 2.0)? Finding libOpenCL in Linux is very tricky. I still haven't figure out how.

[2020-12-03 03:44] xxl-cc opened #339 "ILGPU.Runtime.Cuda.CudaException: unknown error"
CudaAccelerator.SynchronizeInternal()  row 442

The same code, the same data, occasionally reports this error

[2020-12-03 09:57] MoFtZ commented on #339
@xxl-cc are you able to provide a minimal example program that demonstrates the issue?

Sometimes, the error code reported from Cuda could be from a previously failed called, not the function call that returned the error code.

[2020-12-03 20:14] Ruberik opened #341 "CudaException: invalid argument in LoadImplicitlyGroupedStreamKernel()()"
Hi there! First, thank you for this library. It's extremely useful.

I have an issue with a simple reproduction. The short summary is that kernels loaded using LoadImplicitlyGroupedStreamKernel have some surprising limits on the parameters they can be called with. If the parameter:

- Is either an Index2 or an Index3, and
   - Has an entry other than X that's at least 2^16, we get ILGPU.Runtime.Cu

[2020-12-03 20:24] Ruberik commented on #341
The CudaException also appears to occur when I use an index such as those described above to retrieve an entry in an ArrayView2D.

[2020-12-03 21:04] MoFtZ commented on #341
@Ruberik it looks like you are running into the limits of the grid size on the Cuda accelerator.

These are detailed in the Cuda [Programming Guide](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#features-and-technical-specifications) and [Wikipedia](https://en.wikipedia.org/wiki/CUDA#Version_features_and_specifications).

`Maximum x-dimension of a grid of thread blocks = 2^31-1`

[2020-12-03 21:35] Ruberik commented on #341
@MoFtZ Thanks for pointing that out! So when someone calls a function loaded with LoadImplicitlyGroupedStreamKernel, it looks like there's a way to check whether they're calling it with a valid parameter, and give a useful error message. Is there a way to tag this thread as a feature request?

[2020-12-04 00:39] m4rs-mt commented on #341
@Ruberik Sounds good to me. Better error messages are always a good idea, and I think this is the perfect place to provide better (and consistent) error messages.

[2020-12-04 22:30] m4rs-mt commented on #333
@jiatao99 It looks like we broke the `OpenCL` support on Linux since the library loader should load `OpenCL` (without the `lib` prefix), like in the case of MacOS. As far as I remember, there is no OpenCL driver for AMD Ryzen CPUs available for Windows and Linux. However, you should be able to enumerate the AMD GPU in your system. Can you try out the upcoming beta `v0.10.0-beta`, which will be ava

[2020-12-05 10:38] #334 closed

[2020-12-05 13:45] #332 closed

[2020-12-05 13:46] m4rs-mt commented on #331
I will close this issue for now. If the problem persists or reoccurs, we can reopen the issue or create a new one.

[2020-12-05 13:46] #331 closed

[2020-12-06 16:59] m4rs-mt opened #346 "Row-/Column-major data layouts and the .Net array interop"
ILGPU provides built-in 2D and 3D memory buffers (`MemoryBuffer2D` and `MemoryBuffer3D`) and the associated array views (`ArrayView2D` and `ArrayView3D`). They "use" a row-major data layout that perfectly matches the fastest varying indices (FVI) in the scope of GPU kernels (based on `Index3` and and the "default" way of computing global thread indices in Cuda, OpenCL, OpenGL Compute and DirectX C

[2020-12-06 17:00] m4rs-mt commented on #330
@Ruberik @Aleksey1555 I have started a new discussion about row-major and column-major data layouts in #346. We can continue the discussion in this thread.

[2020-12-06 17:14] Ruberik commented on #346
Thank you for starting this discussion! I understand the situation a lot better than I did back in our other thread, but please take this as only moderately-informed opinion and an attempt to structure the conversation.

There are three competing desires here, all of which are good and any two of which we can have:

1. Indexing is the same on the GPU as on the CPU.
2. Memory locality is the same o

[2020-12-07 21:29] euroUK opened #347 "Correct kernel for Cuda accelerator"
Hi!

I am newbie in GPU calculation. I'm trying to calculate simple task that used in one of my algorithms.
I have int[,] array with 32 column counts and up to several millions rows. Each row should be bitwise & with others to find if one is contained by another. I'm returning 1D array with extra rows to remove in main app part.

The very basic attempt (somehow I can't  int[] res = new int[aView.W

[2020-12-08 04:22] Costigan opened #348 "What happens if shared memory is allocated and used in an implicitly grouped kernel?"
In a now-closed issue (https://github.com/m4rs-mt/ILGPU/issues/51), I submitted sample code and asked how to interpret a runtime error message.  The problem turned out to be a small bug in ILGPU which was fixed, but @m4rs-mt recognized another error in my code in passing.  I allocated and used shared memory in a kernel that I was calling with implicit grouping.  Here's what you said at the time:

[2020-12-08 06:37] #330 closed

[2020-12-08 06:53] MoFtZ commented on #347
@euroUK welcome =)

There are a few things to consider when doing GPU programming, some are specific to ILGPU, and some more general.

First, bit/bool is not blittable. This is a limitation of the .NET framework - the boolean type cannot be directly translated to an unmanaged type. If you want to have a compact representation, you can use `byte` and deal with bit flags yourself. You can find [more

[2020-12-08 11:04] MoFtZ commented on #347
OK, I made a small sample program with your code, taking a guess at the implementation of `CompareBitArrays`.

I also made a change to the algorithm so that comparing bit arrays would terminate early. This appears to give a significant boost in performance. On by GTX 1070, 50k rows can be processed in around 1 second versus 12 seconds.

[Issue347.zip](https://github.com/m4rs-mt/ILGPU/files/5658777

[2020-12-08 11:24] MoFtZ commented on #348
In an implicitly grouped kernel, if you ask for Shared Memory, you will get Shared Memory, not thread local memory.

Shared Memory is allocated per group. and the memory is uninitialized.

The issue with using Shared Memory in an implicitly grouped kernel is that you have no control over the number of threads per group, nor the number of groups - these are selected automatically by ILGPU. The sele

[2020-12-08 18:10] Aleksey1555 opened #349 "Use CudaAccelerator. But i see that ILGPU using CPUAccelerator"
Hello
I write very simple program for test purpose.
[code]
And I suppose that this will make my video card working for a long time. But i don't see any loading of cuda in my taskmgr!!
What i see - is that my CPU loading about 15% (i have Core i7 6 cores+hyper threading=12 cores)
Look's like all process goes on CPU (and use one core).
Please help!
What wrong?

[2020-12-08 18:27] euroUK commented on #347
Thank you for provided optimization!

Now it's working faster. And based on my solution, I found the reason why my GPU code was so slow.
You used matrix height threads for GPU, while I used width. So on my 16/32 CPU  32/64 threads was ok, but for GPU it was too low.

On 64/100000 matrix

[2020-12-08 20:35] euroUK commented on #347
Hi!

Thank you for optimizing my code!
Finally, I realized where I was wrong. As Index I provided column count, not row. That is why CPU is faster. When I fixed it GPU is  faster!

[2020-12-08 21:11] #347 closed

[2020-12-08 21:12] m4rs-mt commented on #349
@Aleksey1555 When using the `CudaAccelerator`, the probability is 100% that your kernel program will run on the Cuda accelerator. I have executed your program on a RTX 3090 and can confirm that the program takes a bit to execute but finally terminates in `Debug` and `Release` modes. However, attaching a profiler to your program reveals that the CPU cycles are spent inside the `Synchronize` functio

[2020-12-08 21:41] MoFtZ commented on #349
@Aleksey1555 I noticed that you are using a KernelConfig of `(1, 12)`. This means that you are only using 12 cuda cores to perform the calculations. As an example, my GTX 1070 has 1920 cores available.

If you re-write your kernel to take advantage of the many cores on the Cuda accelerator, this should help with the performance issues.

[2020-12-08 22:13] Aleksey1555 commented on #349
ok, i will try

[2020-12-09 13:59] Aleksey1555 commented on #349
ok, i have rtx 2060 (1920 cores)  I set KernelFonfig to  (350,5) = total 1750.
Run the same code and again - 0% of loading cuda in Taskmgr. Why? And again work only one core of CPU

[2020-12-09 17:08] Aleksey1555 commented on #349
also, i detected interesting behavior. In both two cases, i set kernel (350,5)
This is the first code of my kernel:
[code]
This code executer very fast and look's like GPU simply ignore two cycles;
But, in second code , PGU works as expected:
This is the second code of my kernel:
[code]

In this case - code executes about 2 minutes ( not fast )!
And here what i detected: In First case two cycles c

[2020-12-10 02:09] yuryGotham commented on #346
I agree that cpuData[x, y] being accessible via gpuData[x, y] is good for ease of reading and comparing code.

However, I care about performance. I would love to have an option to call Allocate() and GetAs2DArray() in such a way that memory is copied over as a continuous block.

When I have a 2D dataset that would be worked on both in CPU and in GPU, I want to arrange the data in a way that create

[2020-12-10 11:56] MoFtZ commented on #349
ILGPU will optimize your kernel code when it compiles in to run on the Cuda accelerator. Part of this optimization includes removing unused code. This could explain why your GPU is not doing much work.

There is some load on the CPU because it is co-ordinating with the GPU.

[2020-12-10 21:18] m4rs-mt commented on #339
I'm closing this issue due to inactivity

[2020-12-10 21:18] #339 closed

[2020-12-10 21:20] #348 closed

[2020-12-10 21:21] m4rs-mt commented on #333
@jiatao99 Did you have chance to test the latest `v0.10.0-beta` on your system?

[2020-12-10 22:12] m4rs-mt commented on #349
@Aleksey1555 It looks like your kernel runtime configuration`KernelConfig to (350,5) = total 1750` is inappropriate in your case. If you launch groups with size `5`, you will implicitly launch groups of a least a size `= warp size` (`= 32` threads). In your case, you will implicitly "disable" `32-5=27` threads per group. Furthermore, launching small groups will cause the warp dispatcher to be busy

[2020-12-10 23:57] jiatao99 commented on #333
Thanks for your email. I followed your instructions, however it still
doesn't work.

I think it is defect item. I liked the robot, however this is soo anoying

On Thu, Dec 10, 2020, 4:22 PM Marcel Koester <notifications@github.com>
wrote:

[2020-12-11 11:17] Aleksey1555 commented on #349
@MoFtZ - Thanks. Now it's clear.
@m4rs-mt - i will try

[2020-12-11 11:38] CsabaStupak opened #356 "Cuda vs CPU different results"
I'm playing with the library, trying to write my own reducer. My input array is `[4,1,0]` and it should return `sum = 5`. It works fine for _CPU_ but works incorrectly for _Cuda_ - it returns `sum = 4`. I know that the algorithm library has such _sum_ reducer already. However I need to implement more complicated reducer algorithms so I started with such simple.

The code is:

[code]

Not sure if t

[2020-12-11 11:52] MoFtZ commented on #356
@CsabaStupak I have not run the code, just a visual inspection, but the potential issue that stands out to me is the following code:

[code]
At the end of the for loop, you are updating the SharedMemory buffer `dynMem`. There is a potential issue here because the SharedMemory buffer is shared between all the threads of a group, and you are reading/writing the buffer across multiple threads without

[2020-12-11 13:40] CsabaStupak commented on #356
The synchronization should be OK, since I'm calling `Group.Barrier()` and during the thread execution they do not touch any data of other threads from the `dynMem`.

It looks like the `for `cycle is incorrectly translated - note I do not use the 3rd expression in the `for`. Everything starts to work if I replace it to while `cycle`:

[code]

[2020-12-11 23:28] MoFtZ commented on #356
@CsabaStupak I noticed a difference between the for-loop and while-loop implementations.

The first expression of the for loop sets `nStride = nDynLng`, but the while-loop implementation does not do this step. When I remove that first expression from the for-loop implementation, the kernel will generate the correct result.

It looks like calling `Length` on the shared memory buffer returns -1, may

[2020-12-15 07:38] Costigan commented on #348
@MoFtZ Thank you.  I had convinced myself that 0.7.0 behaved differently, but my test case was also incorrect.

What is the purpose of having implicitly grouped kernels with a manually-specified group size?  Isn't it the case that the user can only reduce performance by making a poor choice?  This isn't explained in http://ilgpu.net/Documentation#implicitlyGrouped nor is the example given particul

[2020-12-16 14:24] CsabaStupak opened #359 "List of MemoryBuffer2D<float> to kernel"
I'm trying to write a kernel which processes a list of `MemoryBuffer2D<float>`. Unfortunately I don't know how to create such kernel which would have `List<MemoryBuffer2D<float>>` or _array_ of `MemoryBuffer2D<float>[]`.

As a workround I could create a `MemoryBuffer3D<float>`, in a cycle copy the list of `MemoryBuffer2D<float>` content to this 3D buffer, then process the 3D buffer and distribute

[2020-12-17 10:07] diwot opened #360 "Passing raw pointers around with Cuda acceleration"
Hi,
I get wrong results using Cuda acceleration when using fixed size buffers:

		public unsafe struct float3
		{
			public fixed float XYZ[3];
		}

		public unsafe static void TestKernel(
			Index1 index, ArrayView<float3> S)
		{
			float3 s;

			s.XYZ[0] = 1;
			s.XYZ[1] = 2;
			s.XYZ[2] = 3;

			S[index] = s;
		}

	public RunTest()
        {
            gpu = new Gpu(true);

            var tes

[2020-12-19 09:50] m4rs-mt commented on #359
@CsabaStupak Unfortunately, it is not possible to pass an array of `ArrayView<T>` elements to a kernel (and it is also not possible to create an `ArrayView` of another `ArrayView<T>` like `ArrayView<ArrayView<T>>`). However, what you can do is to use a single 3D memory buffer or you could generate a compile-time accessible structure using a maximum number of array views in parameter space. Maybe w

[2020-12-19 09:54] CsabaStupak commented on #359
That would be a nice to have feature. Currently not so important however - I'm redesigning my code to work with 3D memory buffer. This approach will save some GPU memory and will improve the performance of my code.
Thanks :-)

[2020-12-19 12:02] m4rs-mt commented on #360
@diwot Thank you for your issue report and welcome to the ILGPU community. I can confirm that I was able to reproduce your issue using the sample provided. It seems to be a frontend decoder issue that maps the address of the second element to a 4-element offset instead of a 4-byte offset. Surprisingly, this special case involving a single compile-time constant wasn't captured by our existing test

[2020-12-22 18:39] Aleksey1555 opened #365 "How to perform image effects (like brightness, contrast,blur,displace) on GPU for manu amount of mages"
Hello.
I have ove 3 000 000 images and i need tool to perform about 4 effects (Brightness, Contrast, Displacement, JPEG -convertion
And i need fastes library to do this.
Please help!
P.S. i can write some effect on ILGPU, but maybe there is special libraries for this?

[2020-12-23 11:42] m4rs-mt commented on #365
@Aleksey1555 Of course you can use ILGPU in combination with multiple kernels. However, you can also use one of the available libraries like [OpenCV}(https://opencv.org/platforms/cuda/) which offer GPU acceleration for a set of predefined filters.

[2020-12-23 18:46] yuryGotham opened #366 "Allocate<float>(new LongIndex2(x, y)) fails if x*y does not fit into int"
long x = 69;
                    long y = 31527848;
                    Console.WriteLine("Trying to allocate " + (x * y).ToString("0,000") + " floats on GPU");
                    Console.WriteLine("2^31: " + ((long)1 << 31).ToString("0,000"));

                    //var result = gpu.Allocate<float>(new LongIndex2(x, y));
                    // the above throws an exception:
                    /

[2020-12-23 21:19] Aleksey1555 commented on #365
@m4rs-mt , Thanks

[2020-12-24 11:20] m4rs-mt commented on #366
@yuryGotham Thank you for your issue report. I was able to reproduce the problem using the sample code provided. The issue is related to an invalid assertion check that "wants to ensure" that multidimensional views have a total length of `int.MaxValue` ([this line](https://github.com/m4rs-mt/ILGPU/blob/master/Src/ILGPU/ArrayViews.tt#L82) causes the issue).

[2020-12-24 14:04] yuryGotham commented on #366
I guess the bigger question that I have is weather the indexing will work fine during the runtime in the GPU.
Let's say I have a view with dimension Index2(8, 1024 * 1024 * 1024) - approximately 8 billion.

What will happen in the GPU when I access view[7, 1024 * 1024 * 1024 - 1]? Will it just overflow? Will it do int64 math and become slow? Or will it do something smart to address that memory loc

[2020-12-25 02:17] yuryGotham opened #367 "Unhandled exception. ILGPU.Runtime.Cuda.CudaException: context is destroyed"
It looks like there is an issue with disposal of kernels when multiple threads are used. I've seen 2 different errors in such scenarios:
1)
Unhandled exception. ILGPU.Runtime.Cuda.CudaException: invalid device context
   at ILGPU.Runtime.Cuda.CudaKernel.Dispose(Boolean disposing)
   at ILGPU.Util.DisposeBase.Finalize()
2)
Unhandled exception. ILGPU.Runtime.Cuda.CudaException: context is destroyed

[2020-12-27 07:44] sohaspaces opened #368 "Repository tags"
This repository has no tags. It makes it hard to find this repository for people who don't know this.
I suggest adding tags like GPU, compiler, dotnet to this repository to promote this project to many people who need it.

[2020-12-28 05:13] Costigan opened #369 "Project 1 generates "Cuda is not supported on this platform" error. Project 2 doesn't, on the same system."
I'm getting this error when trying to create a Cuda accelerator: "Cuda is not supported on this platform".  I have a different project in the same solution where the same code (text) successfully creates the accelerator.  Same laptop.  Same NVIDIA card.  Run within 10s of seconds of each other.  Both are console projects, although the one that works is a windows forms application.  (I run it as a

[2020-12-28 05:58] m4rs-mt commented on #366
All addresses on a 64-bit GPU system will be represented using 64-bit addresses under the hood. The only difference between the accesses is whether you use a 32-bit or a 64-bit offset. ILGPU differentiates between both scenarios: it uses 32-bit integer math in the case of 32-bit offsets in your program and 64-bit integer math to compute the offsets in the 64-bit world. However, the actual address

[2020-12-28 05:59] m4rs-mt commented on #367
@yuryGotham This should clearly not happen. I wasn't able to reproduce your issue on different build machines. However, I am currently investigating other potential concurrency issues related to a similar issue. I am going to take a closer look on the synchronization of the accelerator GC implementation.

[2020-12-28 06:04] m4rs-mt commented on #368
@sohaspaces Good idea! I will add in some Github topics to the repository 🤓. I was thinking about `GPU`, `compiler`, `dotnet`, `IL`, `PTX`, `NVIDIA`, `AMD`, `OpenCL`, `Cuda`, `Jit`...

[2020-12-28 06:08] m4rs-mt commented on #369
@Costigan This sounds really strange and should definitely not happen 😟. The Cuda Accelerator can fail to get created if the native driver library could not be loaded (for whatever reason...). Can you check whether both projects will be executed in 64-bit mode (assuming that your OS platform is a 64-bit OS 😄)?

Regarding the compilation issues: are you using the `net50` SDK to compile ILGPU? We ha

[2020-12-28 14:11] yuryGotham commented on #366
@m4rs-mt Thank you for the explanation!

Please correct me if I misunderstood, but all I have to do if I want to avoid overflow is to cast the indices to long when referring to the views that have more than 2^31 elements. I converted my program to use long in such cases and there is minimal performance penalty (the program is still mostly memory bandwidth bound).

When do you expect to release ILG

[2020-12-28 14:24] yuryGotham commented on #367
@m4rs-mt I'm very surprised that you were not able to reproduce with the code that I provided - it always crashes for me. I ran it ~10 times and it never went through more than 5% of the 10,000 iterations before crashing...

I will test to see if it still crashes when you think you may have a fix.

In the meanwhile I converted my program to serially create a bunch of context/accelerator objects wh

[2020-12-28 20:52] Costigan commented on #369
I am embarrassed.  That is, of course, relevant, and I should have included that info in the previous message.  If I had, I probably would have found the problem.  I had the solution platform set to Debug x64 but the build platforms for the two projects were different.  The one that failed to create the accelerator was set to Any CPU.  (The prefer 32 bit checkbox was unchecked and, for some reason

[2021-01-03 01:34] m4rs-mt commented on #369
I have never experienced any problems regarding the checkbox and `AnyCPU` builds on any platform. I am also wondering why the checkbox has been disabled in your solution. Are you accidentally building for a specific target platform in the `Configuration Manager`?

Makes sense to me. There is already support in ILGPU to test for a valid "bitness" of the current runtime system. Maybe we should add a

[2021-01-03 01:41] m4rs-mt commented on #367
I am going to investigate this issue in more detail in the upcoming week. However, I am also wondering about the need for multiple contexts in general. It is also possible (and advised) to reuse the same context even in the case of multiple accelerator instances. Furthermore, it is also possible to use the same accelerator instance with multiple threads. However, if you target multiple devices, yo

[2021-01-03 01:44] m4rs-mt commented on #366
That's right 👍  The only thing you need to do is to convert your 32-bit index into a 64-bit index explicitly and it will just work.
The next version `v0.10.0-beta2` should be available in the scope of the next two weeks. This will also contain a fix for the assertion check.

[2021-01-03 01:59] #365 closed

[2021-01-03 02:00] m4rs-mt commented on #152
@GeoBIM2020 We are currently working on a new CPU accelerator that will allow programmers to mimic the warp/group setups of arbitrary GPUs. Stay tuned 🚀

[2021-01-03 02:01] m4rs-mt commented on #349
@Aleksey1555 I am closing this due to inactivity for now.

[2021-01-03 02:01] #349 closed

[2021-01-03 02:02] #360 closed

[2021-01-03 02:05] #368 closed

[2021-01-03 02:37] yuryGotham commented on #367
When I was reproducing the error, I ran the code that I provided on my home machine:
Video:
NVIDIA GeForce RTX 2080 Ti
Driver date: 7/24/2019
Driver version: 26.21.14.3200

System:
OS Name	Microsoft Windows 10 Pro
Version	10.0.19042 Build 19042
Processor	AMD Ryzen Threadripper 3990X 64-Core Processor, 2895 Mhz, 64 Core(s), 64 Logical Processor(s)
BIOS Version/Date	American Megatrends Inc. 0702, 12

[2021-01-03 03:34] m4rs-mt commented on #367
Thank you very much for the additional insights. Are you currently running your application with the .Net Framework or the .Net Core runtime system?

On additional thing you could try is disable the explicit kernel cache to see whether the problem is related to a concurrency issue inside the internal smart caches. To do so, you can pass the `ContextFlags.DisableKernelCaching` to the `Context` cons

[2021-01-03 05:19] m4rs-mt commented on #367
@yuryGotham I was finally able to reproduce this issue in `Release` mode, using 128 threads, using .Net 4.8 and your sample code provided.

[2021-01-03 14:28] yuryGotham commented on #367
I changed the code to disable the kernel caching:
`            using (var context = new Context(ContextFlags.DisableKernelCaching, ILGPU.IR.Transformations.OptimizationLevel.O2))`
and it still crashes in the same way on my home machine.

I target .NET Core 3.1 framework.

[2021-01-03 22:50] m4rs-mt commented on #367
I was able to narrow the problem down to the interop layer with the NVIDIA driver API. According to the documentation, "most/big/all" parts of the driver context API should be *thread-safe*. However, I am able to create out-of-memory exceptions using the following program:
[code]
It essentially creates and disposes empty context that can lead to non-deterministic allocation/free operations that ac

[2021-01-04 19:32] Ruberik opened #371 "Bounds checking is not done in debug mode"
Perhaps my setup is wrong, but let's see:

http://www.ilgpu.net/Documentation#simpleKernels says: "Note that in Debug mode, every access to an ArrayView is bounds-checked." I don't believe that's currently true.

Here's my entire program. It initializes two MemoryBuffer<int> structures to 0, then executes a kernel to increment each element of the first MemoryBuffer. The kernel is deliberately aske

[2021-01-05 01:37] m4rs-mt commented on #371
@Ruberik You are right 🤓 This issue was introduced in #196. This PR contained fundamental changes to the computation of view indexes. This feature was accidentally removed.

[2021-01-05 04:56] Ruberik commented on #371
Question about the performance tradeoff: I would naively expect bounds checking to be about as fast as indexing itself. Any time you're indexing, I assume you're either reading or writing at least the L1 cache. What's the worst-case scenario for how much slowness the bounds checking adds? Depending on just how small that is, I might suggest leaving the bounds-checking in even under optimization.

[2021-01-05 18:02] m4rs-mt commented on #371
The check itself is quite cheap. However, the branches are typically really expensive in contrast to the actual checks. This is one of the reasons why we (at least currently) don't want to perform bounds checks in `Release` builds at runtime.

[2021-01-05 18:23] Ruberik commented on #371
Thanks for the insight!

[2021-01-06 01:17] m4rs-mt commented on #367
After further investigation, it turns out that it is also *not* possible to allocate 128 contexts on a single GPU. Although it works on an RTX 3090 with 56 contexts without allocating a single byte of memory on the device. Any number of parallel contexts over 56 immediately allocates at least 20 GB on my device. So this is clearly not a concurrency issue, but an internal driver limitation/problem.

[2021-01-06 02:04] m4rs-mt commented on #367
I have found a critical issue inside the automatic disposal functionality 😟  -----> working on a patch 🤓

[2021-01-07 07:12] m4rs-mt commented on #371
@Ruberik some additional extensions to my previous comments. On the one hand, it is about the performance of (predicated) branch instructions that might be negligible in many cases. Bounds check will cause several redundant instructions to be executed on the internal ALUs, that we definitely want to use for processing purposes on most cases 🚀.
On the other hand, it is also about register usage tha

[2021-01-07 12:06] AnakinCN opened #377 "is not DateTime supported?"
When I use some computation functions with DateTime in my struct, it says:

[code]

Is not DateTime supported?

[2021-01-07 13:09] m4rs-mt commented on #377
@AnakinCN thank you for your question and welcome the the ILGPU community. Unfortunately, `System.DateTime` seems to be annotated with the `[StructLayout(LayoutKind.Auto)]` attribute. This does not allow ILGPU to determine actual byte offsets for the underlying data fields (for marshalling purposes, for instance). Instead of passing a `DateTime` structure to the kernel, you can convert it into its

[2021-01-07 16:18] yuryGotham opened #378 "Data transfer speed between multiple GPUs / NVLINK"
Is it possible in ILGPU to use NVLINK to transfer the data fast between GPUs?

I just did a test on Azure's "ND40rs_v2" instance. ND40rs_v2 has 8 V100s with NVLINK.
For the peer access in ILGPU I see this (suggesting that NVLINKs are present and detected by ILGPU):
[code]

But at the same time when I call MemoryBuffer.CopyTo I get the same ~12GB/s transfer speed for all pairs...

[2021-01-07 16:33] m4rs-mt commented on #378
@yuryGotham I am not 100% sure whether you have used the peer-access API functions on the ILGPU accelerators. Have you already experimented with `accelerator.EnablePeerAccess`? Based on my experience this worked perfectly fine with the NVIDIA SLI/HB bridges on default workstations.

[2021-01-07 17:14] yuryGotham commented on #378
I did the following:
1) Create 1 context
2) Create 8 CudaAccelerator instances within the context (using 8 distinct acceleratorIDs from CudaAccelerator.CudaAccelerators)
3) Allocate 8 buffers of ints ~1GB on each Accelerator (8GB per GPU). Populate those buffers with -1. For bufferID == Accelerator ID, populate buffers with bufferID.
[code]
4) Check Peer access by calling CanAccessPeer() on each p

[2021-01-08 00:17] Ruberik commented on #371
All great information, especially `ContextFlags.EnableAssertions`. Thanks.

[2021-01-08 01:55] AnakinCN commented on #377
Thank you.

[2021-01-08 01:55] #377 closed

[2021-01-08 07:31] AnakinCN opened #379 "stack overflow"
Hi,

I'm new to this. I've compose a use-case according to your samples and compared with CPU version. But it says stack overflow.

[BlackILGPU.zip](https://github.com/m4rs-mt/ILGPU/files/5785773/BlackILGPU.zip)

Did I miss something? I'm grateful for your time.

[2021-01-09 23:42] MoFtZ commented on #379
@AnakinCN Thanks for reporting this issue.

You are making use of a struct called `Envelope`, which has the member fields:
[code]

`Dictionary` and `List` are reference types, which are currently not supported in ILGPU.

It looks like the stack overflow is an internal issue with ILGPU trying to process the `Dictionary` class.

[2021-01-10 04:04] AnakinCN commented on #379
OK.

Then I'll try rewriting the Dictionary and the List part.

Thank you!

[2021-01-10 04:04] #379 closed

[2021-01-12 09:27] AnakinCN opened #382 "Different exception thrown in different graphic cards"
Hi

I tried writing a sample using structures with ILGPU, and it throws different in  different graphic cards (OpenCL & CUDA), none succeeded.

I believe is something with my code, but how to debug this? There's no detailed information on the exception.

[BlackILGPUnoClass.zip](https://github.com/m4rs-mt/ILGPU/files/5801038/BlackILGPUnoClass.zip)

Thank you in advance.

[2021-01-12 10:25] MoFtZ commented on #382
@AnakinCN
The issue is in this bit of code:
[code]

The member field `Items` is using an array, which is a reference type, and is not supported by ILGPU.

As an alternative, you might be able to use [fixed buffers](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/unsafe-code-pointers/fixed-size-buffers).

And you are correct, the error messages are very generic - we should try to i

[2021-01-12 10:25] MoFtZ commented on #382
When I test on OpenCL and Cuda, they both throw the same exception. What different exceptions are you getting?

[2021-01-12 14:43] AnakinCN commented on #382
Since the 'unsafe' 'fixed' mark only supports simple numeric, I guess there is no way I use collections or arrays containing custom struct, even with fixed length. Is that right?

In GTX 960 the exception is as yours. In the other, the OpenCL one, the exception message is "". I guess it's because symbol downloading incompletion, which does not matter. Thank you!

[2021-01-13 01:08] m4rs-mt commented on #378
@yuryGotham Sorry for the late response. This seems to be configured correctly... according to the Nvidia documentation it should be sufficient to enable the peer-access connectivity. Could you run `nvidia-smi nvlink --capabilities -i GPU_INDEX_HERE` to check whether the driver is really "aware" of the potentially available resources?

[2021-01-13 01:09] #371 closed

[2021-01-13 01:42] m4rs-mt commented on #367
There were several issues related to the .Net GC and some "dangerous" properties on several `MemoryBuffer` API related objects. Using objects exposed by these properties could lead to unexpected crashes due to exposing the ownership of nested child objects to the outside world.

[2021-01-13 01:52] m4rs-mt commented on #257
I am closing this for note as there have been a lot of discussion about this in the Discord channel and this topic seems to be inactive at the moment.

[2021-01-13 01:52] #257 closed

[2021-01-13 02:17] yuryGotham commented on #378
This is what I'm seeing:
[code]

Also, if I ask for status I see this:
[code]

[2021-01-14 22:50] #356 closed

[2021-01-18 07:20] tridexanders opened #385 "I am a VB.NET developer using Winforms .NET 5 project testing out ILGPU, but errors!!!"
**### **I am a VB.NET developer using Winforms .NET 5 project testing out ILGPU****

I am having issues with code errors below:

Test code
-------------

#Region " .................... TEST KERNELS SIMPLE ......................"

    Private Shared Sub MyKernel(ByVal idx As Index, ByVal a As ArrayView(Of Single), ByVal b As ArrayView(Of Single), ByVal c As ArrayView(Of Single), ByVal d As Single)

[2021-01-18 09:32] MoFtZ commented on #385
@tridexanders The issue is due to the use of the [unmanaged constraint](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/unmanaged-types) in ILGPU.

Unfortunately, based on [this issue](https://github.com/dotnet/vblang/issues/300) in the VBLang repository, it is unlikely to get fixed by the VB.NET compiler.

C# is the main supported language, although some people hav

[2021-01-18 11:45] tridexanders commented on #385
Hi,

1. thanks for your help, v07.1. works as you suggested, can i get the link to the original documentation for that version or has it all been updated?

2. am I missing much functionality in v0.71 that has been applied to recent version, I KNOW THE SHARP VERSION WILL NOT WORK unless I use c#?

thanks again to your team....

[2021-01-18 12:33] m4rs-mt commented on #378
I double checked the Cuda samples and the documentation. According to do details given there, enabling the peer access should be enabled on both devices via `EnablePeerAccess`. This should be sufficient to access views from both devices within kernels. However, a memory copy operation seems to require an explicit call to `cudaMemcpyPeerAsync`, if UAV is not supported on the system (which should no

[2021-01-18 14:45] mikhail-khalizev opened #387 "Feature request: Add the ability to receive data from gpu sensors"
I propose to add the ability to add methods that return the current parameters of the accelerator:
* temperature
* fan speed
* cpu and memory frequencies

[2021-01-18 17:41] m4rs-mt commented on #378
I have prepared a PR that uses UAV-based copy methods in favor of "explicit" copy operations. The `nuget` package from the CI build can be found [here](https://github.com/m4rs-mt/ILGPU/actions/runs/494162287). If you like, you can already download the package and give it a try on your target machine in the cloud.

[2021-01-18 17:49] m4rs-mt commented on #387
@mikhail-khalizev Thanks for this feature request 👍 I guess these queries would be possible via the [NVML](https://developer.nvidia.com/nvidia-management-library-nvml) library for Cuda-capable devices. Maybe we can create a wrapper for the `ILGPU.Algorithms` package. However, this also requires adding several properties to the `CudaAccelerator` class in order to instantiate an NVML context.

[2021-01-18 21:27] MoFtZ commented on #385
The documentation is currently available from http://www.ilgpu.net ([direct link](http://www.ilgpu.net/Documentation/Documentation07X)).

ILGPU v0.7.1 contains all the core functionality, and I have previously used it in projects. I do recall trying to use ILGPU with VB.NET back in v0.6.x, but ran into a few issues because some of my VB code internally used native method calls, which cannot be tra

[2021-01-19 20:15] Ruberik commented on #348
@Costigan There can be more to it. Let's suppose you want a group to load some data, process it, and output the result. If the amount of data that you can process at once while fitting everything into shared memory requires a group size of 200 or less, then it makes sense to choose a group size of 200. I realize I'm not giving a very satisfying example, but there could be good performance reasons

[2021-01-19 20:28] Ruberik commented on #348
@MoFtZ, I see you've said:

I'd like your help to understand the way this works, at a very high level. Let me throw out some assumptions, some of which are _certainly_ wrong, and let you tell me what I've messed up.

Let's suppose I'm passing an Index2 to my kernel that's `new Index2(50_000, 100)`. If I load my kernel with `LoadAutoGroupedStreamKernel(kernel)` on my Tesla T4 GPU, I'm guessing it's

[2021-01-20 00:17] mikhail-khalizev opened #390 "Feature request: long shift"
Hi.

Now I am faced with the following problem.
I need to shift the right 24 bits of a 512 bit local variable.

[code]

It looks simple to do it efficiently if we had regular C or C++. Since we have a shift of exactly 3 bytes, we could take a pointer to the beginning of the structure and add 3:

[code]

But is there a way to do this as efficiently and quickly in C# on GPU for local variable?

[2021-01-20 00:27] mikhail-khalizev commented on #390
Of course there is a way to do it step by step (slowly).
But maybe there are some other ways that I don't know ...

[code]

[2021-01-20 01:06] MoFtZ commented on #382
@AnakinCN you will likely need to refactor how you store your data.

Rather than an array of structures, break the structure into arrays of it's individual fields.

[code]

[2021-01-20 01:50] MoFtZ commented on #348
@Ruberik When using explicitly grouped kernels, the developer has full visibility/knowledge of the internal algorithm, and also of the hardware device. They are aware of the memory requirements, so for example, the GPU has 8GB of RAM, and each warp in the algorithm requires 1GB, so they would not launch a group that is too large. They are aware of the compute requirements, so they may want to only

[2021-01-20 18:05] Ruberik commented on #348
Thanks for the explanation. I look at the KernelAccelerator version of [LoadAutoGroupedKernelInternal](https://github.com/m4rs-mt/ILGPU/blob/040f1c0b020b5a395b2cfbbf6a319883b6fa0b13/Src/ILGPU/Runtime/KernelAccelerator.cs#L94), which contains this code:

[code]

...and then I look at [LoadImplicitlyGroupedKernelInternal](https://github.com/m4rs-mt/ILGPU/blob/040f1c0b020b5a395b2cfbbf6a319883b6fa0b13

[2021-01-21 01:33] mikhail-khalizev opened #392 "Feature request: value mapping"
Please see the example below.
As planned, each value should be transformed according to the map.

But in practice, there is an `Unhandled exception. ILGPU.Runtime.Cuda.CudaException: an illegal memory access was encountered` exception throws. This is probably due to the fact that the contents of the `map` array are not embedded to GPU kernel.

[code]

[2021-01-21 01:57] #392 closed

[2021-01-21 01:58] mikhail-khalizev commented on #392
I tried it again and it worked.
Apparently I made a mistake in the code on the first try.

[2021-01-21 01:59] mikhail-khalizev commented on #392
Yes, I was used `0xb0111` instead of `0b0111`.

[2021-01-21 04:22] mikhail-khalizev commented on #390
I forgot that C# has an unsafe context in which we can use pointers. This solves this problem.

[2021-01-21 04:22] #390 closed

[2021-01-21 09:54] m4rs-mt commented on #390
Thanks for your feature request. Unfortunately, I don't have a very efficient solution for this task right now. We can try to emit swizzle-like operations to do this in an efficient way. However, using pointers means that the structure will be stored in `local` memory, which in turn will reside in `global` memory. Furthermore, (correct me if I'm wrong) the reads after `StepRow * ptr = (StepRow *)

[2021-01-21 19:56] mikhail-khalizev opened #394 "Bug: incorrect copy to global buffer from structure with fixed array"
Source code first:

[code]

Output:
[code]

Looking at the output, the second element, which is 222, is not copied to the global buffer when used in Cuda and OpenCL.

[2021-01-21 20:37] m4rs-mt commented on #394
@mikhail-khalizev Thanks you for issue report and your minimal example to produce the code 🥇 This issue has been fixed in #361. I have tested your sample using the latest master branch and the output is as expected:
[code]

I still assume that you are using the row data-structure you have originally described in #390. If this is the case, I would definitely recommend to either put the structure in

[2021-01-21 21:54] mikhail-khalizev commented on #394
It's great. Can you tell me if you plan on updating the NuGet version soon?

---

About #390. Thanks for the advice, I read your answer. And I plan to do some experiments and then write in #390.

Small clarification. The structure itself is in local memory (on the stack). And I also need to perform the shift with the already loaded structure.

[2021-01-21 21:54] #394 closed

[2021-01-21 22:02] m4rs-mt commented on #394
We try to release an updated beta early next week 🚀

I see. In this case, I would expect a version in shared memory to be significantly faster (unless it "automagically" fits into the L2 cache while using local memory).

[2021-01-21 22:14] mikhail-khalizev commented on #390
Ha-ha. I just receive `ILGPU.Runtime.Cuda.CudaException: "misaligned address"` exception, when do it in local memory (stack).

[code]

[2021-01-21 22:31] m4rs-mt commented on #390
I guess this issue should disappear as soon as #386 is merged 🤔

[2021-01-22 12:14] xxl-cc opened #397 "Can you provide an example of multi GPU cooperative work? I try to change single GPU to multi GPU, but there are always exceptions."
invalid resource handle

[2021-01-22 13:39] mikhail-khalizev opened #398 "Feature request: improve kernel name"
Currently all kernels displayed as `ILGPUKernel` (see screenshot below).

I suggest adding the ability to manually name the kernels from code.
And by default use the name of the kernel method from C#.

![image](https://user-images.githubusercontent.com/18654696/105497721-4aa1c200-5cd0-11eb-9ead-043018015f17.png)

[2021-01-22 16:48] #369 closed

[2021-01-22 18:28] Ruberik commented on #348
Can we reopen this issue, or should we start a new one to discuss?

[2021-01-22 21:27] m4rs-mt commented on #398
@mikhail-khalizev Sounds good to me. That should simplify the profiling tasks a lot 🤓.

[2021-01-22 23:53] MoFtZ commented on #348
@Ruberik You are correct in that you can provide a custom group size when loading an implicit kernel.

What is missing is an API to return the auto-calculated group size, which could then be manipulated. If you really want access to this number, you could try accessing the Cuda API directly.

However, if you are going to specify this custom group size, you could also use that same group size to lo

[2021-01-24 05:56] mikhail-khalizev opened #399 "Feature request: add the ability to accurately measure kernel runtime"
Cuda (as well as opencl) supports events that measure kernel runtime.
And it would be useful to add the ability to use them in ILGPU.

Cuda example:
[code]

[2021-01-25 19:26] Aleksey1555 opened #400 "10 sec delay after data transfer from CPU to GPU"
Hello.
I have in issues,  i have 3GB of data to load to GPU and i am doing it like this:

[code]
I think this is some kind problem, becase can;t that 3 gb trasfers about 10 sec
or possible i am Wrong.
Please Help...

[2021-01-25 21:40] Ruberik commented on #348
At this point I have to smack myself on the forehead and admit that I thought auto-grouped kernels were _allowed_ to use shared memory, and implicitly-grouped ones weren't. Obviously that wouldn't make any sense, so... yeah.

I guess I'm confused, because it looks like `LoadStreamKernel` just specifies a group size when you call the kernel, while `LoadAutoGroupedStreamKernel` and `LoadImplicitlyGr

[2021-01-26 21:18] Aleksey1555 commented on #400
some additions:

I try MemoryBuffer without 2D or 3D and uploading data into GPU occurred instantly!!!!

[2021-01-26 23:33] artyomdp commented on #400
Looks like I'm having same issue.
I have two arrays flat [amount*dimension] and 2d [amount, dimension]
Copying 2d array is almost 10 times slower:
[code]

[2021-01-27 04:04] MoFtZ commented on #400
@Aleksey1555 @artyomdp
My guess is that this is related to https://github.com/m4rs-mt/ILGPU/issues/346.

With 2D and 3D memory buffers, when ILGPU is copying to the GPU accelerator, the contents of the buffer will be converted from [row-major to column-major order](https://en.wikipedia.org/wiki/Row-_and_column-major_order).

[2021-01-27 05:04] MoFtZ commented on #348
I'll have to admit, I'm not familiar with that API - nice find.

My guess is because the implicit grouping functionality is really just a thin wrapper on top of explicit grouping. Also, it was probably easier to just say "no shared memory" rather than try to define the expected behaviour, which may not suit everyone.

[2021-01-27 12:58] Aleksey1555 commented on #400
I think this post #346 not about performance!!! The talking about arrays row/column ordering.
How can it help's the performance problem?
Problem - that any 2d or 3d array need to convert to linear array, and this process take's some time!
In my situation - 10 seconds to wait.

[2021-01-27 18:36] Ruberik commented on #348
Fair enough -- I suppose I was making some major assumptions about how the groups would be put together. I put a migration guide in #354 for one dimension, in case other people are surprised by this change and want to know how to get their SharedMemory working again.

[2021-01-27 19:01] Aleksey1555 commented on #400
How ILGPU detecting that array not o columnn-major order?
And how to tell ILGPU that my array is in column-major order?

[2021-01-27 19:37] Aleksey1555 commented on #400
OK, this convertion is need becase we use row major order and the GPU column-major order.
What if i create an array with column-ordering by myself? Will ILGPU start converting process? Another words - Can i disable this convertion operation.?
P.S. I can restructure my program for column-major order)

[2021-01-27 22:07] m4rs-mt commented on #348
@Costigan @Ruberik Thank you very much for your feedback. I fully agree that we should reopen this topic or discuss it further in the project's associated `Discussions` forum. One of the reasons we don't support shared memory/advanced warp functions (such as shuffles) in any meaningful way at the moment is that implicitly grouped kernels perform multiple bounds checks "in the beginning" of the ker

[2021-01-27 22:12] m4rs-mt commented on #399
@mikhail-khalizev Thank you for your feature request. I guess it makes sense to add something like this 🤓 . One question that comes to mind is whether it is not sufficient to measure the time between the start of the kernel (perhaps a previous synchronization point) and the end of a call to `cudaStreamSynchronize()`. This obviously leads to a coarse-grained approximation, but in practice gives mor

[2021-01-27 22:15] m4rs-mt commented on #400
@Aleksey1555 @artyomdp I think @MoFtZ is right 👍. This seems to be related to the same problem that the data transfer performs a "hidden" (opaque to the user) transpose operation, which can easily consume a lot of time. We should discuss possible improvements/workarounds in #346.

[2021-01-28 00:02] m4rs-mt commented on #346
Finally getting back to this topic (after vacation and some feature PRs 😄🚀). I had several more discussions with various people on the web and @jgiannuzzi, @Joey9801 and @GPSnoopy about additional possible "solutions" to this problem. I also greatly appreciate the contributions of @Ruberik and @yuryGotham, their advice, opinions and hints. Based on this feedback, I spent several hours playing arou

[2021-01-28 02:13] mikhail-khalizev commented on #399
Yes, that's exactly what I'm doing now.
But my main goal is to measure time in order to optimize the kernel code.

Now I have to run profiling after compiling the kernel to understand whether the performance has improved or not. And for example, it was a surprise to me that copying an array from the kernel to global memory via int4 is faster than int2 and faster than int.

And this is very clearly

[2021-01-28 12:48] Aleksey1555 commented on #400
I Also don't understand how ILGPU works:
I create 2d array in .Net with row-major order , after ILGPU make column-major order
and what's going on - in KERNEL i seem my 2D array in row-major order!!!
Look's like the situation is :    row-major ->column-major -> row-major(but for kernel)
And if  i have array of [2,5] then after conversion it will be [5,2] and, then GPU starting to work with my array

[2021-01-28 12:54] Aleksey1555 commented on #400
I have to save that any 2d array may be interpret like row-major or column-order. I think ( but maybe i wrong) this ordering (row or column major) affect's only to how the data will be stored in 1 dim array.

[2021-01-28 13:18] AnakinCN commented on #382
Thank you.

[2021-01-28 13:18] #382 closed

[2021-01-28 16:21] GPSnoopy commented on #346
IMHO There are several problems (or standards) to be decided here, and how they relate to one another. And it's easy to confuse one with the other. Here are some of my thoughts and preferences.

## Multi-Dimensional Access using C#

AFAIK multi-dimension arrays are purely a C# concept that is not found in CUDA. In C CUDA, multi-dimensional accesses are still all done via single pointer and it's le

[2021-01-28 17:32] Ruberik commented on #346
Thanks to @GPSnoopy for breaking it down. I agree particularly with their preferences under "Offsets and Strides" and "Copy2D/3D from/to Host." I tentatively agree with the switching index order for multidimensional array access, but I don't know what a migration plan would look like. It would have to be a good one.

[2021-01-28 17:42] Ruberik commented on #348
@m4rs-mt There are two reasons I was opposed to switching to explicit kernels:

1. Code that I'd already written, which was working just fine, broke. Or was it working fine? And what percentage of people using that functionality had code that worked?
2. It seemed hard. It isn't, but I couldn't see a migration guide or examples. Can I suggest posting something like my example in #354 somewhere more

[2021-01-28 18:52] Joey9801 commented on #346
@GPSnoopy: That's a pretty comprehensive writeup to respond to, but I'll try to break down my opinions under the same headings:

## Multi-Dimensional Access using C#

I think the order of array indices is purely syntactic sugar, and doesn't necessarily have to have anything to do with the underlying order in memory.

The most logical constraint I can think of is one where if an array is copied bet

[2021-01-29 15:31] Aleksey1555 opened #403 "Can i transfer to kernel 2D Array without converting from row-major order to column-major order?"
Hello
I am interesting - what for convertion (from row-order to column order) exist?
Please explane me. Please!

[2021-01-30 18:12] #403 closed

[2021-01-30 18:43] Aleksey1555 commented on #346
Copy2D/3D from/to Host:
Simple: delete transformation from row-major order to column-major order (for 2D and 3D arrays)  and delay about 10sec (whitch i have) will disappear)))

[2021-02-01 21:16] geobimmodeling opened #404 "Kernel Exception with Version 0.10 beta1"
Hi,

I am getting kernel exception after upgrading to V0.10beta from V0.8.  Please see attached sample code, search "Issue" that indicate where problem comes from.

[V10Beta2Test1.zip](https://github.com/m4rs-mt/ILGPU/files/5906831/V10Beta2Test1.zip)

[2021-02-02 19:55] Ruberik commented on #404
It isn't clear to me that's an ILGPU problem. Is it possible you updated other libraries at the same time?

I haven't worked with Vector2 before, but presumably Vector2.Zero is a constant, rather than a function that returns a zero-length Vector2. Mutating its members seems problematic. Try this outside of a kernel and see what happens.

[2021-02-02 19:57] Ruberik commented on #400
These might be useful:
[code]

[2021-02-02 21:32] Aleksey1555 commented on #400
@Ruberik  Thanks!

[2021-02-02 21:50] MoFtZ commented on #404
I am able to reproduce the issue on ILGPU v0.9.2, but not ILGPU v0.9.1.

https://github.com/m4rs-mt/ILGPU/blob/64ff328eee12b92c5b50894e8e355a874d55b3c4/Src/ILGPU/IR/Values/StructureValues.cs#L792-L794

The call to `Parent[Count]` is causing an index out of bound exception.

[2021-02-02 22:02] MoFtZ commented on #404
Looks like this was introduced by https://github.com/m4rs-mt/ILGPU/pull/294.

A workaround is to use `ContextFlags.ConservativeInlining`.

[2021-02-04 02:50] geobimmodeling commented on #404
ContextFlags.ConservativeInlining and [MethodImpl(MethodImplOptions.NoInlining)] work for me.  Does it have impact on perfermance?

[2021-02-04 02:53] geobimmodeling opened #406 "Issue with v0.10 Beta2"
I have a kernel that works with v0.10 Beta 1, but failed with Beta2. please see attached sample code.  Search "Bug" that indicates the line causing problem.
[V10Beta2Test2.zip](https://github.com/m4rs-mt/ILGPU/files/5922840/V10Beta2Test2.zip)

[2021-02-04 03:13] mikhail-khalizev opened #407 "Feature request: Add the ability to control the rounding mode for arithmetic operations"
For mathematical calculations, there is a need to adjust the rounding mode when performing operations with floating point numbers (not to be confused with rounding when converting to an integer). In C/C++, the `fesetround` function is usually responsible for this.

Could you add this feature?

An example of addition operations from the CUDA doc:

![image](https://user-images.githubusercontent.com/

[2021-02-04 15:10] m4rs-mt commented on #404
@geobimmodeling Disabling aggressive inlining can slow down your program significantly. @MoFtZ Yes, you are right. The problem is caused by an invalid assertion check. We should change it to: `value.Type == Parent[access.Index]`

[2021-02-04 19:42] m4rs-mt commented on #406
@geobimmodeling Thank you very much for your problem report. I can confirm that the given input program leads to an internal compiler crash during optimization. However, a minimal reproducible example would simplify things on our end and would be appreciated.

[2021-02-04 20:46] Aleksey1555 commented on #400
@Ruberik  hello!
Can you say me what is ParallelChunked.For?
there is no such function in .Net

[2021-02-04 22:00] #366 closed

[2021-02-04 22:24] m4rs-mt commented on #397
@xxl-cc Thank you for your request. I'm not sure what the intent behind your question is. Would you like to see an example of how to split your workload across multiple GPUs by launching kernels on different devices at the same time?

[2021-02-04 23:18] #404 closed

[2021-02-04 23:47] MoFtZ commented on #406
@m4rs-mt @geobimmodeling

I've managed to reduce the example code into this:
[code]

[2021-02-05 00:19] m4rs-mt commented on #406
@MoFtZ Thank you for the reduced example. I will take a closer look at it 👀.

[2021-02-05 00:32] geobimmodeling commented on #406
@MoFtZ @m4rs-mt Sorry, I will try my best to reduce code for debug. I though problem could be caused by my special struct (Double2x2) that is used to mimic 2-dimensional array in kernel.  AND, that kernel containing Double2x2 can be properly compiled with V 0.10 Beta 1. So I grabbed it to the example code.

[2021-02-05 00:35] geobimmodeling commented on #406
@MoFtZ How did you manage to reduce the code? did you track into this line "if(Math.Abs(e[i, j])<0.1)" to simplify it?

[2021-02-05 00:57] m4rs-mt commented on #406
@MoFtZ @geobimmodeling Applying #409 simplifies @MoFtZ's sample input correctly to:
[code]

[2021-02-05 01:15] Joey9801 commented on #346
[I have had a go at implementing the sort of API I was thinking of](https://github.com/Joey9801/ilgpu-arrayview-sketch/blob/master/Demo/Demo.cs) as a wrapper around a simple 1D `ILGPU.ArrayView`. It's a real API that does actually work inside ILGPU kernels.
The big feature is that it leverages dynamic specializations to (as far as I can tell from looking throught the generated PTX) completely elid

[2021-02-05 01:17] geobimmodeling commented on #397
@m4rs-mt I'd like to see examples
1.   Split workload across multiple GPUs by launching kernels on different devices at the same time
2.   Buffer data share between multiple GPUs. Can buffer data be shared between multiple GPUs from the same device (say, through NLINK of Nvidia)?

[2021-02-05 01:29] MoFtZ commented on #406
I have tested the PR with the reduced code and the original code. Both no longer have the issue.

[2021-02-05 01:33] m4rs-mt commented on #346
@Joey9801 To my mind this has an overlap of about 95% of the abstract concept I had in mind based on your comments regarding runtime concerns/additional abstraction overhead🥇🎉 I think that your design ensures that the abstractions are automatically lowered into highly efficient code without worrying about potentially "hidden" compiler features 🚀

[2021-02-05 01:34] #406 closed

[2021-02-05 01:34] MoFtZ commented on #406
It's just trial and error. I remove or alter a small section, and make sure the problem still exists, then keep repeating.

[2021-02-05 02:00] m4rs-mt commented on #407
@mikhail-khalizev This is an interesting feature request 🤓. Currently, ILGPU uses a .Net-compliant rounding mode for integer to float conversions and vice versa. Regarding your question, the FP -> FP rounding mode is set to `round-to-nearest-even` (corresponding to the "default" C++ behavior). Based on dotnet/runtime#4544, there does not seem to be a comparable function on the C# side.

However, a

[2021-02-05 02:07] m4rs-mt commented on #333
I am closing this issue for now. If the problem persists, we can always reopen it.

[2021-02-05 02:07] #333 closed

[2021-02-05 13:56] Aleksey1555 commented on #400
please

[2021-02-05 18:03] Ruberik commented on #400
My mistake:
[code]

[2021-02-05 18:10] Ruberik commented on #400
`ParallelChunked.For` intends to solve two problems:

1. Parallel.For has too much overhead for short function executions.
2. Parallel.For doesn't guarantee good memory locality within threads.

For point 1, a chunkSize of 20 is generally good enough. For point 2, I haven't honestly tested it much, but since I'm copying arrays of multiple gigabytes, I think 2000 is small enough that I don't have t

[2021-02-05 18:17] Aleksey1555 commented on #400
Thanks!!!!!

[2021-02-11 10:03] JanTamis opened #414 "Support for OpenTK"
Are there any plans to support OpenTK? I know there is support for SharpDX but it would be nice to send the result of a calculation to the graphics card.

[2021-02-11 20:56] MoFtZ commented on #414
@JanTamis I am not familiar with OpenTK. Looking at the API, it looks like they provide low-level bindings for OpenCL. Some of these can probably already be used in combination with ILGPU. What kind of integrations do you think would be beneficial?

[2021-02-11 22:31] MoFtZ commented on #385
@tridexanders How did you go with using ILGPU?

As previously mentioned, the VB.NET compiler does not like the `unmanaged` constraint.

I did some more investigation into this issue, and have found that it is happy to use existing C# code that already fulfils the unmanaged constraint.

So for example, ILGPU provides the `ArrayView<T>` structure, where `T` has the unmanaged constraint. The VB.NET c

[2021-02-12 21:43] mikhail-khalizev opened #415 "Feature request: add support of runtime compiled parts of kernel"
Faced the following problem. There is a common kernel logic. And there are additional methods for transformation numbers that are generated dynamically before starting the kernel (as in the example below, which fails).

I propose to add support for executing ```Action``` and ```Func``` through a mechanism like ```SpecializedValue```.

[code]

[2021-02-13 00:37] MoFtZ commented on #397
@geobimmodeling @xxl-cc

I'm not sure if this is what you were after, but here is an example of using multiple GPUs to sort some arrays. It performs a round-robin between the available Cuda accelerators.

[RoundRobinExample.zip](https://github.com/m4rs-mt/ILGPU/files/5974819/RoundRobinExample.zip)

Note that this is different from using multiple GPUs to cooperatively sort an array. I found this pa

[2021-02-13 09:27] mikhail-khalizev opened #416 "Documentation request: add intrinsic example"
I have a need to multiply two UInt64 numbers and get UInt128. Potentially, CUDA has instructions "mul.lo.u64" and "mul.hi.u64" for this.

Could you supplement the documentation http://www.ilgpu.net/Documentation with an example of how to write intrinsic yourself (for example for "mul.hi.u64")?

[2021-02-13 09:42] tridexanders commented on #385
Hi,

1. thanks for you reply will try the code out, in a bit.

2. **I found an interesting article below the other day, does this have context as to the issues for VB  developers?**

----------------------------------------------------------------------------------------------------------------------
https://developercommunity2.visualstudio.com/t/shVBshshNETsh-can-actually-us/1297047?q=vb.net&spac

[2021-02-13 11:31] MoFtZ commented on #385
@tridexanders My impression is that MS will support VB.NET, but will not be adding new features (e.g. ref structs, unmanaged contraints, etc).

From https://devblogs.microsoft.com/vbteam/visual-basic-support-planned-for-net-5-0/

[2021-02-13 11:33] MoFtZ commented on #416
@mikhail-khalizev Have you seen the [custom intrinsic example](https://github.com/m4rs-mt/ILGPU.Samples/tree/master/Src/CustomIntrinsics) in [ILGPU.Samples](https://github.com/m4rs-mt/ILGPU.Samples)?

[2021-02-13 11:45] mikhail-khalizev commented on #416
No, I didn't notice this example, unfortunately.

Now I looked. But there is still the question of how to use `mul.hi.u64` directly, since now the example uses the C # expression:

[code]

[2021-02-13 11:58] MoFtZ commented on #416
There are two types of intrinsics in that sample code. The first is remappped intrinsics, which points the code to a different method.

The second is code generated intrinsics (`CustomCodeGeneratorIntrinsic`). In the method `GeneratePTXCode`, you create your command, something like this:
[code]

[2021-02-13 12:02] mikhail-khalizev commented on #416
Thanks!

[2021-02-13 12:02] #416 closed

[2021-02-14 06:44] AnakinCN opened #417 "an plain integer variable throws exception"
Hi,

I've been converting my project into ILGPU-supported. But a plain int variable '**Cursor**' throws run-time compile exception, saying:

[code]

[BlackStarILGPU.zip](https://github.com/m4rs-mt/ILGPU/files/5977102/BlackStarILGPU.zip)

Did I do something wrong with the variable Cursor?

Thank you.

[2021-02-14 06:58] MoFtZ commented on #417
When I rearrange `ArrayStruct`, so that `Cursor` is declared before `Array`, the error seems to go away.

Could you try:
[code]

[2021-02-14 23:33] #398 closed

[2021-02-15 01:22] #378 closed

[2021-02-15 02:03] #152 closed

[2021-02-15 05:29] #417 closed

[2021-02-15 06:50] MoFtZ opened #418 "Struct member variable after fixed array cannot be used in comparison operation."
I have reduce the code from issue #417 into a minimal example of the problem.

When `Cursor` is defined after `Array`, ILGPU will fail to compile. When `Cursor` is defined before `Array`, it compiles without issue.

[code]
The exception thrown is:
`NotSupportedException: Not supported compare or arithmetic value of type 'None'`

[2021-02-15 14:07] mikhail-khalizev opened #419 "Feature request: support of constant array"
There is now a `SimpleConstants` example that shows that constants can be used. But not constant arrays.

Consider adding support of constant arrays in the kernel:
[code]

[2021-02-15 18:21] AnakinCN opened #420 "passed on CPU Accelerator but failed on GTX960"
My Kernel passed on the first AcceleratorId (CPU) but failed on 2nd AcceleratorId (GTX960), saying:

_ILGPU.Runtime.Cuda.CudaException:“a PTX JIT compilation failed”

ILGPU.Runtime.Cuda.CudaException
  HResult=0x80131500
  Message=a PTX JIT compilation failed
  Source=ILGPU
  StackTrace:
   at ILGPU.Runtime.Cuda.CudaException.ThrowIfFailed(CudaError cudaStatus) in /_/Src/ILGPU/Runtime/Cuda/CudaExc

[2021-02-15 21:28] m4rs-mt commented on #418
Oh, that looks interesting and is definitely a bug we should fix 🤓.

[2021-02-16 22:44] MoFtZ commented on #420
The exception thrown by ILGPU is:
`ILGPU.Runtime.Cuda.CudaException: 'a PTX JIT compilation failed'`

When I run the sample program with ILGPU source code, the error returned by PTXAS is:
[code]

You will need to restructure your code.

[2021-02-17 12:34] AnakinCN commented on #420
Hi. Thank you for running my code.

I decreased the array length from 255 to 16 and it passed.

[2021-02-17 12:34] #420 closed

[2021-02-18 21:01] Aleksey1555 opened #422 "Can ILGPU give access to the low-level CUDA functions like nvJPEG ?"
here - https://docs.nvidia.com/cuda/nvjpeg/index.html

[2021-02-23 01:37] avsol opened #424 "AMD FirePro W4100 GPU is not recognized as CLAccelerator"
I am running DeviceInfo sample from the ILGPU.Samples GitHub repo on my Dell workstation, but it lists only CPU and Intel(R) HD Graphics accelerators. The primary graphics card AMD FirePro W4100 is not listed.
I tried looking in the Accelerator.Accelerators as well as in the CLAccelerator.AllCLAccelerators collections.

[2021-02-23 02:05] avsol commented on #424
Interesting, that this GPU was recognized when I tried `OpenCLCompiler` from the `Amplifier` library (https://github.com/tech-quantum/Amplifier.NET)

[2021-02-23 02:28] MoFtZ commented on #424
hi @avsol, it looks like the AMD FirePro W4100 only supports [up to OpenCL 1.2](https://www.techpowerup.com/gpu-specs/firepro-w4100.c2611). Unfortunately, ILGPU requires a minimum of OpenCL 2.0.

Are you using ILGPU v0.10 ? According to the [release notes](https://github.com/m4rs-mt/ILGPU/releases/tag/v0.10.0), it included a change to detect OpenCL accelerators, even if they are not supported. The

[2021-02-23 17:54] avsol commented on #424
Yes, you are right. I was using ILGPU v.0.9.2
The version 0.10 does list the AMD Capeverde accelerator as unsupported in the AllCLAccelerators collection.
(Though AMD claims to support OpenCL 2.0, even latest driver doesn’t show up)

[2021-02-24 11:24] m4rs-mt commented on #424
@avsol It looks like the driver supports the OpenCL 2.0 API layer, but the GPU itself does not support the OpenCL C 2.0 execution model. Maybe this is the problem in this area?

[2021-02-24 11:28] m4rs-mt commented on #419
@mikhail-khalizev Thank you for your feature request. In theory, this is a very nice feature. However, marking the field as `readonly` does not guarantee that the contents of the array will not change between different kernel calls. What we could do is to use the `ContextFlags.InlineMutableStaticFieldValues` flag to suppress compiler warnings/errors and inline the array as suggested.

[2021-02-24 11:40] m4rs-mt commented on #422
@Aleksey1555 Thank you for your feature request. This might be an interesting feature for the `Algorithms` library, I think.

[2021-02-25 20:18] Ruberik opened #425 "Math.Round(double) causes internal compiler error on .NET 5.0"
Code:
[code]

Exception:
[code]

My original code (before simplification for this repro) passed a variable to Math.Round, and gave the same Exception.

This is with ILGPU 0.10.0 straight off of NuGet, and net5.0 as the TargetFramework.

This is trivial to work around for my use case, so it isn't a high-priority item for me.

[2021-02-25 21:20] m4rs-mt commented on #425
@Ruberik Thank you for your issue report. This definitely seems to be a bug.

[2021-02-26 06:44] xxl-cc commented on #397
When multiple GPUs are parallel computing, does each GPU declare a context, or do multiple GPUs share a context?

[2021-02-26 09:08] #397 closed

[2021-02-26 09:09] xxl-cc commented on #397
It's my fault，The action of multiple GPUs should not be the same field

[2021-02-26 12:09] #418 closed

[2021-03-11 17:18] Ruberik opened #429 "Bounds checking generates spurious failures in large views"
I'm seeing a bounds checking failure under the following conditions:

* A very large MemoryBuffer (9,813,945,198 bytes in this case, but the specific size matters).
* Getting element (1<<31) - 68 of that MemoryBuffer, using an int index (I don't necessarily expect a predictable pattern to which numbers work and don't work).

This might seem pretty esoteric, but it came up for me in a scenario wher

[2021-03-12 10:53] MoFtZ commented on #429
It looks like the `GetKernelNoSubView` kernel is triggering the assertion at line 262:
https://github.com/m4rs-mt/ILGPU/blob/658ae3dc729bd4d76fc837e0817d5394c7e45350/Src/ILGPU/ArrayView.cs#L256-L266

The code is accessing a large `ArrayView` (with `Length` greater than `int.MaxValue`), and using `int` as the indexer data type.

There is an alternate indexer for `ArrayView` that accepts `long` as t

[2021-03-12 17:24] Ruberik commented on #429
That's a really useful assertion for large `ArrayView`s! A few concerns, though:

* I don't think that's the assertion that's triggering. If it is, it isn't triggering consistently. It doesn't trigger if `itemCount = 17286519`, for example, which makes the `ArrayView` even larger (there's another example in my initial post).
* Can I suggest changing the error message to reflect that it's the `Arra

[2021-03-13 04:59] MoFtZ commented on #429
In your second example `GetKernel`, `source2D` being accessed using the indexer that accepts two `int` parameters. This then creates an `Index2` and calls the `ArrayView` indexer that acccepts an `Index2` parameter.
https://github.com/m4rs-mt/ILGPU/blob/658ae3dc729bd4d76fc837e0817d5394c7e45350/Src/ILGPU/ArrayViewExtensions.cs#L313-L323

The implementation of this indexer that accepts `Index2` as a

[2021-03-13 05:14] MoFtZ commented on #429
TEST NOTES:
My Cuda accelerator has less memory, so I reduced `itemCount` to 9286519 in order to reproduce the issues.
[code]

[2021-03-13 20:01] Ruberik commented on #429
I suspect you're correct about this in the main, but I think it isn't that simple, because:
1. Not all sizes above `int.MaxValue` fail this assertion. My guess is that it toggles back and forth every `2^31` or so, but I have no real evidence of this.
2. The `ArrayView` on which `ToIntView()` is being called isn't of size above `int.MaxValue`. Perhaps the underlying `ArrayView` that is having `ToIn

[2021-03-14 18:21] faruknane opened #432 "Can we generate some kernels and load them dynamically?"
Hi,
First of all, I am so impressed by the work you have been doing. It's a great project.

"JIT" compiler might be really helpful for optimizing data flows whereas you can't do it with static compilers. I have been considering building a library for tensor operations and auto differentiation. Like tensorflow did with XLA in 2017, I'd like to optimize the data flow as well. For a very basic exampl

[2021-03-14 18:26] faruknane commented on #432
This library is also like %3 or %4 slower than Cuda when summing two big vectors.

In small examples, it's actually a little faster than Cuda in my example (probably because of creating streams etc).

So, I liked that!

[2021-03-14 20:25] m4rs-mt commented on #432
@faruknane thank you for your issue report. ILGPU features a huge variety of different compiler optimization technique to rewrite, fold and simply your program. You want want to take a look at [Specialized Kernels](https://github.com/m4rs-mt/ILGPU.Samples/blob/master/Src/SpecializedKernel/Program.cs) that allow you to pass "constants" to kernels in order to trigger/enable/use aggressive optimizati

[2021-03-14 22:03] faruknane commented on #432
@m4rs-mt It's 1 am here. I will read your reply in detail first thing tomorrow.

From the first part, I understand that like if constval is 1 in the code below

this code ->
[code]

turns out to be this ->
[code]
So, it doesn't check if it is one. It dynamically compiles and optimizes the code and removes unnecessary operations.  Am I right?

[2021-03-15 06:53] MoFtZ commented on #429
Yes, you are correct that there is a truncation occurring.

When the `CudaAccelerator` injects the assertions into the kernel, it checks whether the `ArrayView` is being treated as a 32-bit or 64-bit memory buffer. If the `ArrayView` is being treated as a 32-bit memory buffer, but it is actually a 64-bit memory buffer, asking for the `Length` of the `ArrayView` will return the bottom 32 bits of th

[2021-03-15 07:04] MoFtZ commented on #432
In ILGPU v0.9.1, we added support for using non-capturing lambdas as a kernel.

This allows you to define a kernel like this:
[code]

You should be able to use LINQ Expression Trees to create a non-capturing lambda kernels at runtime.

[2021-03-15 09:07] faruknane commented on #432
@MoFtZ @m4rs-mt I am trying to create the method below:
[code]

[code]
the code above throws an error "System.ArgumentException: 'Property cannot have a managed pointer type. Arg_ParamName_Name'"

Also, the code below throws an error "System.InvalidOperationException: 'The binary operator Add is not defined for the types 'System.Single&' and 'System.Single&'.'"

[code]
The conversion from ref floa

[2021-03-15 15:30] faruknane commented on #432
@m4rs-mt could you help me to understand whether the problem is on my side or on the ILGPU side?

My goal is to create the function below:
[code]

the Il code for the functon above is:

![image](https://user-images.githubusercontent.com/37745467/111178041-d42c8c80-85bb-11eb-8e79-5024aced875d.png)

So, I create a method like below. Still, the last line makes it static though. I hope I can make it d

[2021-03-15 16:37] m4rs-mt commented on #432
@faruknane There are two problems with this piece of code. First, you call `FromExplicitlyGroupedKernel` even though your kernel seems to be an implicitly grouped kernel...? Second, the problem is related to the .Net implementation of a `DynamicMethod` that does not return an empty array, but throws a `NotSupportedException` when calling `GetGenericArguments` instead. You can argue that this is th

[2021-03-15 16:40] faruknane commented on #432
@m4rs-mt Also DynamicMethod doesn't support GetMethodBody(), so I can't use DynamicMethod. I am working on creating a dynamic method without using DynamicMethod class. It will provide generic arguments and a method body info hopefully.

[2021-03-15 16:47] m4rs-mt commented on #432
@faruknane Right! A `DynamicMethod` was intended to JIT some smaller methods at runtime without the need to inspect their internal data.

[2021-03-15 16:57] faruknane commented on #432
@m4rs-mt Yaaay, I did it!

[2021-03-15 17:11] faruknane commented on #432
@m4rs-mt I have a new issue for performance drop when using load implicitly kernel. I will write it as a new issue.

[2021-03-15 17:11] #432 closed

[2021-03-15 17:19] faruknane opened #434 "Performance drop issue when compiling & loading kernel using method Info"
The code below prints
[code]
in my computer which has gtx 1050 ti, which is almost the same with cuda (cuda 24.5ms etc).

[code]

--------------------------------------------------------------------------------------------------------------------------------

However, the code below prints
[code]

[code]

what might be the reason for this performance drop?

[2021-03-15 21:12] m4rs-mt commented on #434
In the first scenario, you use a strongly typed and optimized launcher generated by the ILGPU runtime system. This type of launcher ensures the highest possible performance because ILGPU dynamically generates the appropriate MSIL (and thus X86/X64 using .Net JIT) instructions for you to realize the kernel dispatch. In the second case, you use the slow untyped direct launch functionality of kernels

[2021-03-15 21:31] faruknane commented on #434
@m4rs-mt I don't agree with you on the boxing issue. Boxing is not that time-consuming. If it were, when the data size is small, it would still create the same overhead because of boxing which is not the case. There is no time difference in small data sizes.

Also, when I test this on CPU both scenarios are taking an equal amount of time. Does it suggest that maybe GPU code is being generated diff

[2021-03-15 21:46] m4rs-mt commented on #434
It is an expensive operation in terms of HPC applications. It causes cache misses and increases GC pressure in general. I did not claim that this is the problem in your case 🤓. In other words: if you want to have reliable time measurements and an HPC-capable application you have to minimize potential GC-related issues 🚀

I have to take a closer look at your example to give you more details 😃 I als

[2021-03-16 10:46] m4rs-mt commented on #434
@faruknane I found the performance issue in your program: You use the automatic grouping functionality of ILGPU in the first program (with `LoadAutoGroupedKernel`). However, implicitly grouped kernels should not be loaded with `LoadKernel`, as in your second example. This will result in an implicit grouping with a `groupSize = 32` (the `WarpSize`) as an automatic fallback. Using `LoadAutoGroupedKe

[2021-03-16 13:06] #429 closed

[2021-03-16 18:05] faruknane commented on #434
@m4rs-mt
I dived into the library and as you said, WarpSize is automatically assigned to GroupSize. Thank you again 😄 !
![image](https://user-images.githubusercontent.com/37745467/111347442-45d60a80-8690-11eb-9aa1-f73ce26c9192.png)

For boxing, I want to ask you - because I am at beginner-level - is the execution time result long enough that it does really matter? ~0.003ms seems like a really shor

[2021-03-17 23:53] #425 closed

[2021-03-18 11:47] MoFtZ opened #441 "Compiling kernel with constant switch condition generates incorrect OpenCL code."
When compiling a kernel with a `switch` statement that has a constant condition, the OpenCL code generator produces incorrect code.

The following is an example kernel:
[code]
The OpenCL code generator ends up producing code similar to:
[code]
with a compiler error of:
[code]

 In particular, it only affects `OptimizationLevel.Debug`. This is because the other optimisation levels include the `Unre

[2021-03-18 12:52] m4rs-mt commented on #441
@MoFtZ Looks like the constant of the switch condition is not output properly...

[2021-03-19 08:30] MoFtZ commented on #441
@m4rs-mt Yes, we already handle this for constant `if` statements, but not for constant `switch` statements. Working on a fix now.

[2021-03-20 13:32] #441 closed

[2021-03-20 18:18] AbedKarmi opened #443 "Version 0.10 has problem that was not with 0.9.2"
it gives error "a ptx jit compilation failed" when executing the following line, when comment Maht.Pow and modulus %, it works!. previous version was ok.
[code]

[2021-03-20 18:23] AbedKarmi opened #444 "Cannot use BigInteger !"
How can we use BigInteger variable? I have tried all possible was, but did work. It gives error like :
Not supported compare or arithmetic value of type 'None'

[2021-03-21 06:37] MoFtZ commented on #444
@AbedKarmi
Unfortunately,`BigInteger` is not supported because of the way its internals work. It is designed for arbitrarily sized numbers, so it manages an internal array, and performs frequent memory allocations and deallocations.

ILGPU requires that the values passed to the GPU follow the C# `unmanaged` constraint, which `BigInteger` does not.

Do you require the full numeric range? or do you

[2021-03-21 12:27] AbedKarmi commented on #444
I want to do RSA, DSA calculations.

[2021-03-21 22:39] MoFtZ commented on #443
@AbedKarmi
I am currently assuming that you are using `ILGPU v0.9.2` and `ILGPU.Algorithms v0.9.2`.
Further, you upgraded to `ILGPU v0.10.0`, which is causing your `a ptx jit compilation failed` issue.

The reason is that `ILGPU v0.10.0` is not compatible with `ILGPU.Algorithms v0.9.2` - there was a breaking change in the ILGPU APIs.

You should either use:
- `ILGPU v0.10.0` with `ILGPU.Algorithms

[2021-03-22 00:32] MoFtZ opened #445 "Debug assertion failing when successor block is repeated."
As part of investigating #443, I noticed an internal ILGPU assertion is being triggered.

Tested on ILGPU v0.10.0 and v0.9.2 - both are affected.

On Debug builds, an exception is thrown. On Release builds, the exception is compiled out, and the code appears to behave without issue.

The assertion at line 167 is that the successor block does not already exist.
https://github.com/m4rs-mt/ILGPU/blob

[2021-03-22 16:43] #443 closed

[2021-03-22 21:37] MoFtZ commented on #444
I am not familiar with RSA, DSA calculations, so I cannot advise you on the numeric range that you will require.

You will need to decide on an upper/lower limit for your numbers. e.g. UInt128 or UInt256. Then, you can create your own structure to represent these numbers. e.g. UInt128 could be a structure with 4 UInt32s.

You may be able to find existing .NET implementations e.g. https://github.co

[2021-03-23 06:29] #445 closed

[2021-03-23 07:13] m4rs-mt commented on #434
It always depends on the use case. In your case, you want to map generic operations and unbox them while passing them to the kernel at a particular time. However, if we consider boxing in the context of the kernel launcher, we sacrifice a non-deterministic amount of time for boxing and unboxing. In your case, on the other hand, the launcher only needs to perform unboxing, which is less expensive w

[2021-03-23 07:49] m4rs-mt commented on #444
Alternatively, you might be able to use "big integers" in the scope of shared memory/local memory if you really have to dynamically adjust the bit width of your types.

[2021-03-23 08:12] #434 closed

[2021-03-23 12:09] #424 closed

[2021-03-23 17:17] Nnelg opened #448 "Multidimensional Buffers/Views (from CpuAccelerator) don't throw an exception (or even hit a breakpoint) on out-of-bounds multidimensional indices"
## ToReproduce:

1. Acquire a CpuAccelerator
2. Create a multidimensional view with a certain extent, such as (5, 6, 7)
2. Launch a kernel (practically any kernel) with a (partially?) out-of-bounds extent, such as (8, 7, 6)
3. Run in Debug configuration (Any CPU)
4. Observe that the program behaves as if nothing was wrong
5. Repeat the experiment with a CudaAccelerator
6. Note that a CudaException

[2021-03-23 18:01] m4rs-mt commented on #448
@Nnelg Thank you for your very detailed issue report. I will take a closer look at it. This problem is also related to the current redesign of the Memory API (see #421).

The code paths are different and the implementation of the assertion checks is also different (see #433). I also agree that the problem may be related to the fact that we do not check all dimensions on the CPU separately.

@MoFtZ

[2021-03-23 19:37] MoFtZ commented on #448
@m4rs-mt An initial investigation sounds good. The new memory API should definitely take precedence - we can hold off on related patches until it is ready.

[2021-03-24 09:44] faruknane commented on #415
@mikhail-khalizev I am working on a library that allows you to write dynamic functions and to use/call them in statically created kernels. In a few days, I will try to share two examples of how you can do what you wanted to do.

[2021-03-24 11:46] faruknane commented on #415
@mikhail-khalizev I am sharing a demo example. You can edit the code below depending on your needs. You can create `Func<int, int> _transform` using Lambda Expression. I will also share a second example to show you how to create dynamic methods easily with the [ILDynamics library](https://github.com/faruknane/ILDynamics). You can add the library as a reference using [nuget ](https://www.nuget.org/

[2021-03-24 11:53] faruknane commented on #415
You can also create dynamic methods. It has limited support. Useful for small things. If you encounter a problem or have a feature request, let me know.

Second example:

[code]

[2021-03-24 13:52] mikhail-khalizev commented on #415
Super!
Thanks.

[2021-03-24 15:29] Nnelg opened #450 "Multidimensional Index comparison operator documentation is ambiguous"
The comparison operators (specifically >, <. >=, <=) for Index2 etc. are simply documented "Returns true if the first index is smaller than the second index."

It isn't clear if this is supposed to mean `(a < b) => (a.X < b.X && a.Y < b.Y)` or `(a < b) => (a.Size < b.Size)` or something else entirely.

It's even more confusing when including the possibility of `(a.X > b.X && a.Y < b.Y)`; would `(a

[2021-03-24 15:39] m4rs-mt commented on #450
@Nnelg Thanks for the feedback. We should definitely improve this. Either improve the documentation or remove the comparison operators to avoid programming issues in general.

[2021-03-24 18:41] Nnelg opened #451 "Code Style Error CS0457: ambiguous conversion (LongIndex2->Index2)"
## Description

(On Visual Studio 2019)

`CS0457`

Ambiguous user defined conversions 'LongIndex2.explicit operator Index2(LongIndex2)' and 'Index2.implicit operator Index2(LongIndex2)' when converting from 'LongIndex2' to 'Index2'

## To Reproduce:

```var idx = (Index2)(new LongIndex2());```

## Notes

Yes, I have a case where this is necessary... It's needed to disambiguate between the Index2 a

[2021-03-24 20:00] m4rs-mt commented on #451
@Nnelg this has been introduced to be backwards compatible. PR #421 will not contain these casts any more.

[2021-03-27 23:52] faruknane commented on #415
@mikhail-khalizev did it work?

[2021-03-30 23:25] m4rs-mt commented on #448
@Nnelg I have experimented with different kernels in the context of the CPU accelerator and I can confirm that the problem is related to the fact that the individual dimensions are not properly bounds checked. This problem is fixed in #421, which checks all dimensions of a multidimensional index before checking the computed linear element index.

[2021-04-07 06:46] xxl-cc opened #455 "When can ilgpu provide parallel syntax function similar to alea GPU framework？"
When can ilgpu provide parallel syntax function similar to alea GPU framework, which can support implicit conversion between variables and arrayview
like
[code]

[2021-04-08 16:19] CsabaStupak opened #456 "Profile"
I'm trying to replace my existing code which uses _MathNet.Numerics_ (and its _MKL.Win-x64_ extension) library for Matrix manipulation. My code has about _300x300 size_ matrices and do several multiplication, addition over these matrices. On my _CPU (i7-8086K @ 4GHz)_ it takes about **1713 ms** to finish (the simplified version).

I decided to switch the code using _ILGPU Blas_ part using _CuBlas.

[2021-04-08 23:16] MoFtZ commented on #456
@CsabaStupak I'm not familiar with CuBlas, but here are my thoughts for investigating the problem.
1. Are you using single-precision or double-precision floats? Your GPU may not be performant for double-precision.
2. Are you able to separately time the CuBlas API calls? It may not be super accurate, but might give a rough guide to which API call is causing the bulk of the performance hit. You migh

[2021-04-10 00:54] #341 closed

[2021-04-13 17:24] bnemetchek2 opened #461 "Compiler error running on GPU, works on CPU"
"An internal compiler error has been detected" is all the error I get running the attached app.  It runs fine when using CPUAccelerator but fails using CudaAccelerator.  Any help or suggestions would be appreciated.

Thx!

[ILGPUtest.zip](https://github.com/m4rs-mt/ILGPU/files/6305533/ILGPUtest.zip)

[2021-04-13 23:04] MoFtZ commented on #461
@bnemetchek2
It looks like the issue is with your structures. e.g.
[code]

In particular, the `items` member is not allowed because ILGPU does not currently support reference types.
There is support for [fixed size buffers](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/unsafe-code#fixed-size-buffers), but that only applies to primitive types.

Also, I noticed that you are mixin

[2021-04-14 15:40] bnemetchek2 commented on #461
Thanks for the info.  It's weird that it works with the CPU version but not the GPU but, having created a few CUDA kernels in the past I know it's an entirely different beast.  I would like to say that I think this is an awesome project and look forward to any future enhancements to it.  Even the CPU version is working much faster than the native .NET code, likely because of the refactoring it req

[2021-04-14 19:37] bnemetchek2 opened #462 "Create XorShift128Plus in Kernel?"
There was a previous issue/thread discussing generating large numbers of random values.  Is it possible to create a new XorShift128Plus in each thread using a seed?  The XorShift128Plus.Create function requires a parameter of Random which appears to not be a class allowable within a kernel.

i.e. the following code will result in a GPU compiler error at runtime
`var r = XorShift128Plus.Create(new

[2021-04-14 19:56] m4rs-mt commented on #462
The `XorShiftXYZ` structures are designed to be initialized on the CPU side with a specific seed. You can use the `RNG` class (an example can be found [here](https://github.com/m4rs-mt/ILGPU.Algorithms/pull/75)) to create an RNG provider on the CPU and use separate `XorShiftXYZ`-based instances in each thread of your kernel. Alternatively, you can populate an array of `ulong`s on the CPU and initi

[2021-04-14 21:03] bnemetchek2 commented on #462
Thanks for that info.  That's perfect.  Generating the seeds prior to the kernel call is very fast using FillUniform.
I wish I could have used the RNGView<XorShift128Plus> functionality as that is brilliantly implemented but I'm not yet using custom kenels, just an auto one.

thanks again,

[2021-04-14 21:03] #462 closed

[2021-04-15 14:56] #461 closed

[2021-04-16 07:18] lostmsu opened #463 "Feature request: allow lambdas in kernels when they can be evaluated at compile time"
## Rationale

This request is syntax sugar for creating C# classes, that provide some GPGPU capabilities.

Imagine you are trying to implement a `ISqlCalc`, that needs to be able to perform a few ops on arrays using ILGPU.

[code]

Point is it should be possible to inline `v => -v`. The delegate instance will have `MethodInfo` pointing to a body, and that method will never reference `this`, so it

[2021-04-17 02:54] lostmsu commented on #463
Hm, I started working on this, and I am seeing existing pieces of code that look very relevant: `MethodExtensions.IsNotCapturingLambda`.

@MoFtZ `MethodExtensions.GetParameterOffset` seems to be returning wrong value for a simple class with no fields or properties. What was the reasoning for it to return 0 for lambdas? AFAIK lambdas are implemented as instance methods on a hidden class, so it shou

[2021-04-17 10:09] m4rs-mt commented on #463
@lostmsu Thank you for your feature request. We have already discussed the feature in our weekly talk-to-dev sessions. We currently believe that we should add support for lambdas via ILGPU's dynamic specialization features. Also, we can translate calls to lambda functions into calls to "opaque" functions annotated with specific attributes. This avoids inlining and modifying these stubs that we gen

[2021-04-17 10:12] m4rs-mt commented on #415
@mikhail-khalizev @faruknane We currently plan to add (limited) support for lambda functions. This should also cover dynamic code generation via lambda functions. This issue is also related to #463.

[2021-04-17 18:03] lostmsu commented on #463
@m4rs-mt thanks for the promising response. Is there anyone already working on that feature?

I started my own take at implementing it by replacing the key type in this dictionary: https://github.com/m4rs-mt/ILGPU/blob/93b6551fdc960bede5246dc8ebedc5f2ee773411/Src/ILGPU/Frontend/ILFrontend.cs#L455 to a composite of `MethodBase` + `Value?[]` array of parameters arguments which compile-time values ar

[2021-04-18 22:59] MoFtZ commented on #463
@lostmsu
Thanks for looking into this topic.

Yes, you are correct that lambdas are implemented as instance methods on a hidden class. Originally, ILGPU only supported static methods, which do not have a `this` pointer. When adding support for non-capturing lambdas, we are removing the `this` pointer from the lambda and treating it like a static method. This means that arguments are shifted, and t

[2021-04-19 01:31] MoFtZ commented on #463
@lostmsu There is no one currently working on this feature, so if you have the time and passion, we would wholeheartedly welcome your contributions.

We have previously discussed how to support lambda functions to provide the functionality requested. In your example, you have supplied the lambda function as a method parameter to `UnaryOp`, which then calls `LoadAutoGroupedStreamKernel` using a lam

[2021-04-19 06:39] lostmsu commented on #463
@MoFtZ the problem I see with the `LoadXxxKernel` followed by its launch with a `SpecializedValue` is that the original kernel would need to support non-specialized lambdas, and I currently do not see how they could be compiled: their usage involves IL opcode `ldftn`, which eventually boils down to indirect function call, which (I am not expert on GPGPU) is only available in very recent hardware.

[2021-04-19 06:59] m4rs-mt commented on #463
@lostmsu @lostmsu I don't think we'll run into any problems with respect to the `ldftn` opcode when translating it into an IR function call to an opaque function. Consequently, we can `resolve` the call target at `kernel launch time` by providing a function to the kernel and leaving the specialization work to the ILGPU compiler. However, this generally does not cover all use cases 😄

@lostmsu Rega

[2021-04-22 14:32] CsabaStupak commented on #419
My understanding is that the GPU _const_ memory is much faster. By this I could put my _weights_ to const memory - no need to copy them to shared memory in the kernel. 👍

[2021-04-30 00:35] m4rs-mt commented on #284
I did a variety of different benchmarks and it turned out that the driver combines FP16 instruction sequences most of the time. Since ILGPU already rearranges them in such a way that a simple combination to a single operation is perfectly possible in the internal pass within the driver, there is currently no need for optimized instruction-sequence generation for FP16 operations.

[2021-04-30 00:35] #284 closed

[2021-05-01 14:43] #346 closed

[2021-05-01 14:43] #400 closed

[2021-05-01 14:43] #448 closed

[2021-05-01 14:43] #450 closed

[2021-05-01 14:43] #451 closed

[2021-05-03 11:47] MoFtZ opened #470 "Regression in debug assertions on array view indexer."
Reported by community member.
Introduced by #433, affecting v0.10.1 and development branch.

The following kernel triggers a debug assertion.

[code]

It appears that in the kernel, casting the input value to integer is not truncating.
This is causing `output[i]` to fail with a debug assertion for index out of range.

[2021-05-03 20:37] m4rs-mt commented on #470
@MoFtZ I can confirm that this kernel triggers an invalid debug assertion in the current master branch.

[2021-05-06 14:43] MarkusKuntner opened #472 "Feature request: performance improvement for already pinned 1Dim arrays?"
From . Net5 onwards it is possible to pin arrays via GC.AllocateArray(). Unfortunately, as far as I know, there is no option to check whether the array is pinned.
Is it possibile to generate an IntPtr for the already pinned memory using Fixed{} and thus to avoid one copy operation for integral and floating-point numeric type arrays?
I see that ArrayViews are currently under development in #421, so

[2021-05-06 19:38] #470 closed

[2021-05-11 07:10] CsabaStupak opened #473 "Group.IsFirstThread bug"
I have a kernel which processes 2D arrays. The simplified version computes a sum of the 2D array elements as follows:

[code]

Here is the kernel config code:

[code]

I invoke this kernel with _2x2_ array and it returns 2x sum what is incorrect. The problem is that `Group.IsFirstThread` returns _TRUE_ for _index = [0,0]_ and _[0,1]_, while I would expect it would return _TRUE_ only for `[0,0]` in

[2021-05-11 12:27] MoFtZ commented on #472
I created a program to test the transfer times.

The four scenarios I tested were:
1. srcAlloc = Allocation using `new int[]`
2. srcToArray = Allocation using LINQ `.ToArray`
3. srcPinned = Allocation using `ExchangeBuffer`, which internally uses [cuMemAllocHost](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__MEM.html#group__CUDA__MEM_1gdd8311286d2c2691605362c689bc64e0) to get pinned me

[2021-05-11 17:29] MarkusKuntner commented on #472
Thanks for your work, this hits the nail on the head!

The goal would be to reach the performance of `ExchangeBuffer` using an array.
As far as I understand the way ILGPU works, an array must be copied to a pinned memory area before it can be transferred to or from the GPU with `.CopyTo`  or `.CopyFrom`. Otherwise, a GC could move the memory, which would result in an invalid memory access.
Using G

[2021-05-11 17:49] m4rs-mt commented on #473
@CsabaStupak Thank you for your issue report. Indeed, `Group.IsFirstThread` currently checks only the first thread in the `X` dimension and ignores the `Y` and `Z` dimensions (see https://github.com/m4rs-mt/ILGPU/blob/master/Src/ILGPU/Group.cs#L163). Well, you can argue that this is a feature and not a bug.... 🤔. However, it is a potential source of bugs and we should definitely change this behavi

[2021-05-11 19:10] m4rs-mt commented on #455
@xxl-cc Thank you for your feature request. Support for implicit lambda captures would be possible once we add support for lambda functions and constant value arrays. Currently, there are no plans to add support for implicit memory transfers to GPUs as they can have unintended side effects. In addition, Alea also suffers from incomplete support in terms of by-ref captures and various array value r

[2021-05-11 19:15] m4rs-mt commented on #472
@MarkusKuntner thank you for your comments and hints 🚀 Regarding `ExchangeBuffer` performance, it is only possible to copy to and from page-locked (non-pageable) memory in a highly efficient way. Correct me if I am wrong, but I assume that `GC.AllocateArray(pinned: true)` allocates a pinned array in pageable memory with respect to the RAM managed by the parent OS. If so, then we can at least benef

[2021-05-11 23:38] MoFtZ commented on #472
@MarkusKuntner @m4rs-mt
With the test program I used above, it is not enough for the memory to be pinned.

I did not include it in the example, but using `GCHandle.Alloc(array, GCHandleType.Pinned)` to pin the memory does not improve the performance. The reason appears to be that CUDA is using an internal list to detect pinned memory rather than querying the OS.

I have found the function [cuMemHo

[2021-05-12 08:23] m4rs-mt commented on #472
@MoFtZ However I still believe that `managed pinned memory != page-locked memory` 🤓 Therefore, using `cuMemHostRegister` can have unintended side effects when the memory will be swapped out by the OS.

[2021-05-12 13:29] MarkusKuntner commented on #472
@m4rs-mt I am with you that a pinned array is not safe. However, with `Fixed{}`, which is cheap for pinned arrays, swapping should be avoided.
@MoFtZ This approach is promising because this is not only faster, but also involves lower memory consumption.
If this really works, thinking far ahead, a thin ILGPU wrapper for `GC.AllocateArray<T>` and `GC.AllocateUninitializedArray<T>` would be possible.

[2021-05-13 05:22] xichaoqiang opened #474 "Can ILGPU support cufftw"
Can ILGPU support cufftw?

[2021-05-13 20:50] Yey007 commented on #474
As far as I know, it is not supported at the moment but I don't think the devs will be completely against adding support sometime in the future. It probably won't be soon, though, given that there is a lot of work being done on other features (I think the OptiX experiments are still going, not sure).

[2021-05-13 21:34] MoFtZ commented on #474
@xichaoqiang ILGPU does not currently provide .NET bindings for CUFFTW. However, it should be possible to add these bindings in the future, similar to the CuBlas bindings in [ILGPU.Algorithms](https://github.com/m4rs-mt/ILGPU.Algorithms).

If you are familiar with how to [generate .NET bindings to unmanaged DLLs](https://docs.microsoft.com/en-us/dotnet/framework/interop/consuming-unmanaged-dll-fun

[2021-05-18 00:21] m4rs-mt commented on #419
I am currently working on support for multidimensional arrays and constant arrays, which can be inlined into the kernel 🤓

[2021-05-21 00:07] MoFtZ commented on #473
Currently, ILGPU performs compilation on each method in parallel, and the methods are not aware of other details like the entry point function. If we could add that information to the compilation, it would be possible to specialise the implicitly grouped kernels.

[2021-05-21 04:25] lostmsu commented on #463
Sorry for a delay here @MoFtZ  @m4rs-mt  . Have you guys given any thought to this? Do you have notes?

I checked out current code, that handles `SpecializedValue`, and as-is it seems to be tailored to the scenarios where the value being specialized is already one of the supported values (which delegate instances are not). It might be possible to rework it a bit to get identical behavior, but disa

[2021-05-21 12:22] #473 closed

[2021-05-21 19:52] #419 closed

[2021-05-24 02:16] MoFtZ commented on #463
@lostmsu We have not defined a preferred API, so you are welcome to design it as you see fit.

I believe that "dynamic specialization" is referring to the concept used by `SpecializedValue<T>`. That is, when the kernel is launched, it will be provided with the delegate as a parameter. This delegate will then be integrated into the final kernel that runs on the GPU.

[2021-05-25 10:23] #399 closed

[2021-05-25 10:39] m4rs-mt commented on #456
@CsabaStupak we added basic profiling support with `ProfilingMarker` classes in PR #482. This should also fix parts of this problem. I recommend that we close this issue for now. If the problem persists, we can reopen this issue in the future 🤓.

[2021-05-25 10:39] #456 closed

[2021-05-25 23:08] branc116 opened #487 "F me"
Dude!
You are a fucking maniac! I fing love You for makeing this! This is awesome lib. When I first found out this lib and you I was in aww. No joke! I wanted to tell you this for a long time, but I can't seem to find your contact anywhere. Keep on doing what you are doing and if you are ever in Zagreb in croatia call me for a beer 🍻 And sorry for issue :)

[2021-05-26 01:29] MPSQUARK commented on #487
There is a contact link to the discord on the ILGPU website.
ILGPU website : https://www.ilgpu.net/
Discord : https://discord.com/invite/X6RBCff
Reddit : https://www.reddit.com/r/ILGPU/

[2021-05-27 00:33] xxl-cc opened #490 "1.0beta1 throw Exception when run context.EnableAlgorithms()"
Is the function calling mode changed in the new version?

[2021-05-27 01:16] m4rs-mt commented on #490
@xxl-cc Unfortunately, we are still working on making the Algorithms library compatible with the next ILGPU release (you can track the progress [here in PR #85](https://github.com/m4rs-mt/ILGPU.Algorithms/pull/85).

[2021-05-31 13:22] MoFtZ opened #493 "Regression in writing to field of structure causing Cuda misaligned address in v1.0-beta1"
A community member has reported a regression in v1.0-beta1.
Previously worked in v0.10.0.

The issue is that assigning a value to `Fifth` in the data structure is generating `CudaException: 'misaligned address'` at runtime.

The reduced version is below. Uncommenting `Fourth` alters the structure layout, and the misalignment does not occur.
[code]

This appears related to the recent changes for [m

[2021-06-01 02:33] terraslate opened #494 "Load buffer from pointer missing"
Great project btw. Some performance tweaks wouldn't go amiss however, such as when using System.Drawing.Bitmap I often already have a Bitmap instance and using lockbits i can gain access to the underlying pixel data in the instance as a pointer (Using Scan0). I would wish to copy this directly to the GPU memory without first having to copy it to an array and then copy it from the array to the acce

[2021-06-01 03:05] terraslate commented on #494
Noted LoadEffectiveAddress on CPUView does the trick.

[2021-06-01 03:05] #494 closed

[2021-06-01 03:11] MoFtZ commented on #494
hi @terraslate.
`Span<T>` also has a constructor that accepts a pointer and length, that can be used with ILGPU.

[2021-06-03 09:31] Sarkozyh opened #495 "Cannot get result of XMath.Atsn2 as element of ArrayView"
I need to get an array of Atan2 result values. When I try to do so I get ILGPU.Runtime.Cuda.CudaException: "a PTX JIT compilation failed". However if I just calculate values and don't try to get them as ArrayView elements everithing works fine.

Here is my Kerne

static void MyKernel(Index1 index,  ArrayView<double> res, ArrayView<int> values)
        {
            double d1 = XMath.Sqrt(2) * (val

[2021-06-03 09:40] MoFtZ commented on #495
@Sarkozyh what version of ILGPU and ILGPU.Algorithms are you using?

ILGPU v0.9.2 works with ILGPU.Algorithms v0.9.2.

ILGPU v0.10.2 requires ILGPU.Algorithms v0.10.0-beta1.

[2021-06-03 10:48] Sarkozyh commented on #495
Thank you! I've change my ILGPU version and it worked.

[2021-06-03 10:48] #495 closed

[2021-06-04 08:08] #472 closed

[2021-06-06 20:57] yuryGotham opened #497 "ILGPU crashes when compiling a very simple OpenCL Kernel"
Code:
[code]

Output:
[code]

[2021-06-06 21:58] m4rs-mt commented on #497
@yuryGotham Thanks for posting this issue. I tried the program myself and the OpenCL code generated by ILGPU >= `v0.10.1` looks okay to me at first glance. Also, I can load (and even run) the OpenCL program on several AMD and Intel cards.

The stack trace also indicates (via `at ILGPU.Runtime.OpenCL.CLAPI_0.clBuildProgram_Import(IntPtr, Int32, IntPtr*, System.String, IntPtr, IntPtr)`) that the Ope

[2021-06-06 23:44] yuryGotham commented on #497
I have Windows 10 Pro with Radeon Pro VII and latest drivers installed (Radeon Pro Software Version 21.Q1.2), as well as the latest ILGPU NuGet (0.10.1).

I just found a much simpler kernel that also crashes during compile. Code:
[code]
Error - different from before:
[code]
It looks to me like some of loop optimizations are misfiring...

[2021-06-06 23:47] yuryGotham commented on #497
That latest kernel compilation also crashes for CUDA and CPU.

[2021-06-07 01:08] MoFtZ commented on #497
@yuryGotham
That kernel is not supported by ILGPU - it is an infinite loop, which would mean the GPU kernel never finishes.

Could you try a kernel like:
[code]

[2021-06-07 12:49] yuryGotham commented on #497
This compiles just fine:
[code]

But this fails:
[code]
With error:
[code]
Any kernel that I tried that contains a loop (for or while) followed by an Atomic.Add fails to compile with OpenCL . CUDA and CPU work just fine.

[2021-06-07 12:58] yuryGotham commented on #497
One other observation that I have is that something has changed with OpenCL handling. I've always had a test implemented that measures memset, memcopy and a very basic compute performance. All three tests still work for OpenCL (they don't use Atomc.Add). However, for OpenCL there is now an exception being thrown at the end of the execution:
[code]
I don't know if it is related to the Atomic.Add()

[2021-06-07 13:05] MoFtZ commented on #497
It looks like  you are currently using ILGPU v0.10.1.
What was the previous version of ILGPU that you were using?

[2021-06-07 13:23] yuryGotham commented on #497
Unfortunately I can't tell for sure as this is in the code that is not version controlled. I have not updated the ILGPU NuGet for about 8 months...

[2021-06-07 13:34] MoFtZ commented on #497
That would probably be ILGPU [v0.9.0](https://github.com/m4rs-mt/ILGPU/releases/tag/v0.9.0), [v0.9.1](https://github.com/m4rs-mt/ILGPU/releases/tag/v0.9.1) or [v0.9.2](https://github.com/m4rs-mt/ILGPU/releases/tag/v0.9.2).

None of the changes stands out to me, but maybe this issue related to atomics https://github.com/m4rs-mt/ILGPU/pull/321 in ILGPU v0.9.2?

Are you able to try these older versio

[2021-06-07 14:30] yuryGotham commented on #497
The disposal crash seems to be unrelated to Atomic.Add() crash and first appears when going from 0.9.2  to 0.10.0

[2021-06-07 14:32] yuryGotham commented on #497
The Atomic.Add() crashes during compiling as far back as I can easily downgrade - without breaking all my code (v0.9.0). I just never used Atomic.Add() and OpenCL before.

[2021-06-07 14:41] yuryGotham commented on #497
The Atomic.Add() issue is really weird because it only happens if there is a loop AND Atomic.Add().

This fails:
[code]
While this work fine:
[code]
Also, I tested a few medium complexity kernels (multiple for loops and Barrier, but no Atomic.Add()) and they all work fine with OpenCL...

[2021-06-08 13:24] MoFtZ commented on #497
Based on the information you have provided, unfortunately, this sounds like a driver issue.

We previously had a member of the community who had a (possibly) related issue on an RX 580.

In their case, if they used two consecutive for loops, the OpenCL `BuildProgram` function would throw the same exception as in your issue: `System.AccessViolationException: Attempted to read or write protected mem

[2021-06-09 11:02] vietthanhcit opened #500 "Does ILGPU support for .net5?"
Does ILGPU support .net5?

I tried to test and compare performance between CPU and GPU on .NET Framework 4.6.1 and .net5

I see that on the .NET Framework 4.6.1, GPU faster than CPU about 50%.
However, on the .net5, CPU faster than GPU

I use Stopwatch to test time.

I wonder if ILGPU support .net5?
I see on your website mention that ILGPU support .net5

Here is devices info
![image](https://user-

[2021-06-09 11:15] vietthanhcit commented on #500
I attached 2 projects. For 4.6.1, please use project ImageProcessor

https://www.dropbox.com/s/k72qph651maool4/dotnet5GpuTesting.zip?dl=0#
https://www.dropbox.com/s/ar1sf4k7w91h31h/framework4.6.1GpGpuViaCs-2018.zip?dl=0

[2021-06-09 11:43] MoFtZ commented on #500
hi @vietthanhcit, yes, ILGPU currently supports `net5.0` by providing a `netstandard2.1` implemention. In the future, we may provide a native `net5.0` implemention.

There is no known performance difference between the different implementations of ILGPU.

As for why one implementation is slower, looking at your sample code, your timings include the memory allocation, memory copies to/from the GPU,

[2021-06-09 13:54] vietthanhcit commented on #500
Thank you for your answer. However, I don't get your point.
For .NET 4.6,  I tried many times and see that GPU is always faster than CPU.
![image](https://user-images.githubusercontent.com/37809928/121365465-e0c64400-c962-11eb-8dff-6547cd210c11.png)

However, for .net5, sometimes GPU faster than CPU, please see the image below.
![image](https://user-images.githubusercontent.com/37809928/121365724-

[2021-06-09 21:39] m4rs-mt commented on #414
I am closing this issue for now due to inactivity.

[2021-06-09 21:39] #414 closed

[2021-06-09 21:43] m4rs-mt commented on #455
We have recently added support for automatic transfer of "constant" array values in #419. Once we have extended support for lambda functions (parts of this feature request are also tracked in #455), you will be able to write similar programs in ILGPU v1.1 or v1.2 😍.

[2021-06-09 21:43] #455 closed

[2021-06-09 21:43] m4rs-mt commented on #444
I am closing this issue for now due to inactivity.

[2021-06-09 21:43] #444 closed

[2021-06-09 21:46] m4rs-mt commented on #218
@xxl-cc We have added advanced support for working with 64-bit array views in the upcoming version of the Algorithms library (v1.0). This feature will allow you to let ILGPU algorithms scale appropriately based on their underlying implementation. From now on, you can implement grid-stride loops using the `IGridStrideKernelBody` interface to have them automatically scale to any number of elements.

[2021-06-09 21:46] #218 closed

[2021-06-09 21:49] m4rs-mt commented on #226
@GeoBIM2020 FYI we have added extended kernel compilation information objects in #383 (the upcoming v1.0 release) that allow you to get more information about the kernels compiled by ILGPU (e.g. the amount of local memory used).

I am closing this issue for now due to inactivity.

[2021-06-09 21:49] #226 closed

[2021-06-09 21:53] m4rs-mt commented on #493
An analysis of this issue revealed that we need to revise some of the functions implemented in #479. The current implementation lowers array types in the frontend during the first code generation phase. Instead, we should try to keep array types as long as possible and lower them later on when we are done with all further optimization steps (before passing the IR to one of the backends).

[2021-06-09 21:54] m4rs-mt commented on #490
@xxl-cc We are currently working on a v1.0-beta1 release of the `Algorithms` library that will be compatible with the upcoming ILGPU v1.0-beta2 🤓

[2021-06-10 04:26] MoFtZ commented on #500
Here is a summary of the result timings you provided:
[code]
You will notice that the timings for ILGPU are fairly consistent between `net46` and `net5.0`. The key difference is that TPL in `net5.0` can be much faster than `net46`.

This is not necessarily true. Each GPU "core" is actually slower than a CPU core. The advantage of GPUs are that they have many many more cores than a CPU.

There is a

[2021-06-11 16:14] sigland opened #503 "ILGPU crashes on creating Context"
I have NVIDIA RTX2060 and Intel UHD 630 in my laptop. ILGPU crashes at this simple code:
var context = new ILGPU.Context();

An unhandled exception of type 'System.AccessViolationException' occurred in ILGPU.dll
Attempted to read or write protected memory. This is often an indication that other memory is corrupt.

I investigated a little. ILGPU crashes because of Intel UHD 630 driver 27.20.100.946

[2021-06-11 17:45] MoFtZ commented on #503
hi @sigland, thanks for reporting this issue, and taking the time to investigate further.

You could try using ILGPU v1.0-beta1, which has a change to the startup sequence so that initialising OpenCL can be disabled. The release notes are [here](https://github.com/m4rs-mt/ILGPU/releases/tag/v1.0-beta1). Please be aware there there are a number breaking changes to the API, and ILGPU.Algorithms and

[2021-06-11 18:13] sigland commented on #503
It works! Thanks!

[2021-06-11 18:13] #503 closed

[2021-06-14 00:42] MoFtZ commented on #497
@m4rs-mt Could there be an issue with the API binding for `clCreateProgramWithSource`?

Currently, ILGPU has a binding of:
[code]

And the OpenCL 2.0 documentation says it should be:
[code]

`strings` and `lengths` are supposed to be arrays, but the C# binding is using `ref`. Are the bindings correct?

[2021-06-15 10:48] Cray-1 opened #506 "Different results from cpu and cuda accelerator"
I’m trying to get intersecting triangles with a box. My Kernel works fine on the cpu, but running with the cuda accelerator a few intersecting triangles are missed.
If someone has any idea why I get different results, I would very appreciate any help.
The Kernel looks like this (I removed just repeating parts):
[code]
The Vector3d is a simple struct:
[code]
And I’m using the Kernel like this:
[cod

[2021-06-15 11:43] MoFtZ commented on #506
When the intersecting triangles are missed, are the results wildly different? or could it be an issue with accuracy?

There can be slight differences between the CPU and GPU floating point operations. For more information, refer to:
https://docs.nvidia.com/cuda/floating-point/index.html
`A number of issues related to floating point accuracy and compliance are a frequent source of confusion on both

[2021-06-15 12:53] Cray-1 commented on #506
Thanks for the reply and info.
To test that, I increased the size of the boxes during GPU intersection slightly and still missing a lot of intersections (even so getting a few additional ones as expected). So I assume it must be something else.

[2021-06-15 13:06] MoFtZ commented on #506
In that case, you might need to spend some time investigating your kernel logic to see if you can narrow down the issue - try to produce a small reproducible example of the problem. This will help identify if it is a logic error in the kernel, or a potential bug in ILGPU.

[2021-06-16 08:07] vietthanhcit commented on #500
Hi @MoFtZ,

I have one more question, it's not in the scope of this previous question, but I hope you can answer it here.
Can we use multiple Nvidia cards to speed up performance? If yes, can ILGPU support doing that and you can give me an example code?

Best regards.

[2021-06-16 09:08] MoFtZ commented on #500
Yes, you can use multiple GPUs, but they are independent of each other. That means you will need to partition the work yourself, or write your algorithm so that the GPUs can cooperate with each other.

Have a look here:
https://github.com/m4rs-mt/ILGPU/issues/397#issuecomment-778529864

[2021-06-16 09:10] MoFtZ commented on #500
FYI, we also have an active community on Discord and a new Reddit group.
Discord : https://discord.com/invite/X6RBCff
Reddit : https://www.reddit.com/r/ILGPU/

[2021-06-17 01:13] MoFtZ commented on #497
@yuryGotham I'm not sure if this will fix your issue, but I have updated the ILGPU binding for `clCreateProgramWithSource`.

The code is based on v0.10.1, on a [private branch](https://github.com/MoFtZ/ILGPU/tree/bug/cl-program-source).
The nuget package was obtained from the [CI build](https://github.com/MoFtZ/ILGPU/actions/runs/944772131) for that branch.

[nuget-package.zip](https://github.com/

[2021-06-21 18:03] lostmsu commented on #463
@MoFtZ @m4rs-mt is there some architectural description of ILGPU? I find it hard to wrap my head around existing translation phases, values, and IR without one.

[2021-06-22 00:43] MoFtZ commented on #463
There is no such documentation at the moment. If you'd like to join us on Discord, we will try to answer any questions you have:
https://discord.com/invite/X6RBCff

At a very high level, ILGPU follows a typical compiler design, with a Frontend that decodes MSIL into an Intermediate Representation (IR):
https://github.com/m4rs-mt/ILGPU/blob/v1.0-beta1/Src/ILGPU/Frontend/DisassemblerDriver.cs
https:

[2021-06-23 16:34] yuryGotham commented on #497
I'm seeing the same exception with the pre-release nuget package that you provided...

[2021-06-23 20:10] m4rs-mt commented on #490
We have released a v1.0-beta1 of the algorithms library which is fully compatible with the v1.0-beta1 ILGPU version 🥳.

[2021-06-23 20:10] #490 closed

[2021-06-23 20:42] m4rs-mt commented on #500
I am closing this issue for now 🤓

[2021-06-23 20:42] #500 closed

[2021-06-28 22:55] m4rs-mt commented on #487
Thanks a lot for your highly motivating comments ❤️ If you prefer a private communication channel, you can always email `ilgpucompiler@gmail.com` 🤓.

[2021-06-28 22:55] #487 closed

[2021-06-28 23:09] m4rs-mt commented on #422
@Aleksey1555 We have been discussing about adding new bindings to Algorithms library. @MoFtZ is currently working on great extensions to cover most API bindings from several well-known and prominent Cuda libraries. However, we came to the conclusion that supporting the `nvJPEG` library is too much work at the moment. Perhaps you can elaborate on a specific use case you have in mind?

[2021-07-01 02:57] MoFtZ commented on #387
Raised PR that adds some `NvmlAPI` bindings, and an `NvmlDevice` wrapper.

This wrapper supports easy access to:
- temperature
  - [nvmlDeviceGetTemperature](https://docs.nvidia.com/deploy/nvml-api/group__nvmlDeviceQueries.html#group__nvmlDeviceQueries_1g92d1c5182a14dd4be7090e3c1480b121)
  - [nvmlDeviceGetTemperatureThreshold](https://docs.nvidia.com/deploy/nvml-api/group__nvmlDeviceQueries.html#g

[2021-07-01 05:21] MoFtZ commented on #506
hi @Cray-1, did you manage to track down the issue?

[2021-07-05 20:30] #493 closed

[2021-07-16 05:09] ljubon opened #539 "Enable CodeQL and DependaBot"
CodeQL: https://github.com/github/codeql-action#codeql-action
DependaBot: https://docs.github.com/en/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/configuring-dependabot-security-updates

[2021-07-18 07:00] CsabaStupak opened #542 "ImmutableView support"
I know that there is a support for _ImmutableArray_ which content is copied to _GPU const memory_. However it must be a static variable what is not the best solution at least for my library. At least I was not able to set such _ImmutableArray_ as kernel parameter - when I call _LoadAutoGroupedStreamKernel_ it throws exception:

_Not supported kernel-parameter type 'System.Collections.Immutable.Imm

[2021-07-18 07:22] CsabaStupak opened #543 "Add an example to show use cases of As2DView and As3DView"
I'm trying to migrate my library to the new (beta) version of ILGPU library. The `ArrayView2D` and related types are different now - we need to specify `Stride2D.DenseX` or `DenseY`. My data at CPU are `float[,]`. I understand what is the difference between _DenseX_ and _DenseY_ but still confused by performance result:

22460 [ms] 	_DenseX_		~50% GPU
14995 [ms]	_DenseY_		~75% GPU	**1.5x faster !!

[2021-07-18 13:42] vector010 opened #544 "Switch . . . Case not matching integers correctly."
I have a simple loop with a case statement in it.  The case statements aren't matching with the variables in the loop which is causing some wildly different behavior than executing the same view CPU.

[code]

In this case you would expect that the default statement would never be hit, but I am finding that it quite often does.

[2021-07-18 16:04] NullandKale commented on #543
For ArrayView2D DenseY matches how C# organizes 2d arrays, this removed the need for a transpose operation when GetAsArray2D is called. For 3D arrays I believe the DenseYX stride is the most performant.

[2021-07-18 19:26] m4rs-mt commented on #543
@NullandKale is right. `DenseY` corresponds to the "most efficient" data layout you can choose for the interop between .Net arrays and ILGPU kernels. Maybe this is also beneficial in terms of your memory access pattern within the kernel?

[2021-07-18 20:01] m4rs-mt commented on #544
Hi @vector010 and thanks for this problem report. I am not sure what the above code is supposed to do in practice. However, I am also not able to reproduce problems with the `switch` instruction with different optimization levels and your code above (using `v1.0-beta2`). Can you give us more details about your use case?

Maybe this problem still exists in the version you are using?

[2021-07-18 20:03] m4rs-mt commented on #542
@CsabaStupak thanks a lot for your feature request. I think that this feature is also related to #415 and #463. We were also thinking about a separate API for `ConstantMemory` in general. I am not sure whether passing arrays via kernel parameters would be the best way of storing them in constant memory... 🤔

[2021-07-18 20:24] vector010 commented on #544
I'm on v0.10.01 (latest stable)

The code in practice is just a part of the Keccak cryptographic algorithm.  This is inside the permute function for it.  I was attempting to optimize checking the constants by using a switch...case instead of storing them in an array.  Initializing the array makes it less performant than using the switch statement in my tests.

If I use the iterator to reference th

[2021-07-19 08:29] CsabaStupak commented on #543
Thanks for the answer. I recommend to fix the comment in the example code because it is confusing.

// (all elements in X dimension are accessed contiguously in memory)
// -> this **will *not* transpose** the input buffer as the memory layout will be identical on CPU and GPU

[2021-07-19 08:41] CsabaStupak commented on #542
I don't mind if the kernel will have to explicitly transfer the variables from GPU memory to GPU _constant_ memory - similarly as I do today when I transfer data to GPU cache. The key point here is to somehow get data from CPU or GPU memory to GPU _constant_ memory which is AFAIK much faster (even faster than GPU cache?). I can even speedup my kernels since I can use GPU cache for something differ

[2021-07-19 17:37] NullandKale commented on #543
My new documentation which should be merged in the next few days covers this already!

If you want to view it before it gets merged it is available [here](https://github.com/NullandKale/ILGPUWiki/tree/1.0.0-beta).

[2021-07-21 17:47] Joey9801 opened #548 "Failing unit test on my machine"
When I run the CUDA unit tests on my machine, `ILGPU.Algorithms.Tests.Cuda.CudaXMathTests_[Debug, O2, Release].TanhFloat` fail. The failing assertion is that `ILGPU.Algorithms.XMath.Tanh(float)` returns the same number as `System.MathF.Tanh` to 6 decimal places. They all fail with:
[code]
Ie the CUDA kernel is only the same to 5dp.

My system specs:

[2021-07-21 20:56] m4rs-mt commented on #539
@ljubon Thanks a lot for your issue request and your PRs 🤓 I have to admit that I am not familiar with the `CodeQL` code analysis step. What are the benefits of having this additional analysis pipeline?

[2021-07-22 00:44] MoFtZ commented on #544
OK, I've managed to reproduce the issue, and have attached a minimal program that demonstrates the problem.
[Issue544.zip](https://github.com/m4rs-mt/ILGPU/files/6859393/Issue544.zip)

I was able to reproduce the issue on v1.0.0-beta2 and v0.10.1, and it most likely affects earlier versions.
Will require further investigation.

[code]

[code]

[2021-07-22 01:27] MoFtZ commented on #544
OK, found an even easier reproduction:
[code]
[code]

[2021-07-22 07:15] #544 closed

[2021-07-23 23:55] m4rs-mt commented on #548
@Joey9801 Thank you for this issue report. @MoFtZ I think this test error may be related to the platform specific lowering and/or software implementation we are plugging in?

[2021-07-24 07:25] ljubon commented on #539
Hey @m4rs-mt, with the current implementation we are using default/standard CodeQL scanning job (free) which is automating security checks.
A nice feature they have is that we can also write our own queries and run them against our code, also code is treated like data so security vulnerabilities, bugs, and other errors are modeled as queries and they can be executed against the main CodeQL databas

[2021-07-24 07:54] ljubon opened #552 "enable format code check in CI"
https://github.com/G-Research/gr-oss/issues/203

after working on CI for ILGPU (support .NET 5.0) I would like to suggest improvement in way of standardizing formatting code
We have .editorconfig for each project, which is cool for local setup but I would like to focus on CI formatting here

[2021-07-24 09:46] CsabaStupak commented on #543
@NullandKale I read your tutorial and it is awesome! :-)

Please update it with shared static/dynamic memory and array transformation _SubView_ and _As2DView_ / _As3DView_ examples. Currently I have no clue how to use the 1D to 2D/3D view transformation. The _TOtherStride_ argument made it really hard :-(.

[2021-07-24 12:58] m4rs-mt commented on #552
@ljubon Sounds like a good idea to me. However, I guess we all prefer a solution that does not change the underlying code style ILGPU uses and changes 6000+ lines in total, which makes it harder to have a reasonable code history. How can we adapt the code style tool to match the ILGPU formatting "rules"?

[2021-07-25 03:39] MoFtZ opened #554 "Regression when using arrays inside kernel since ILGPU v1.0.0-beta2"
We have introduced a regression some time after ILGPU v1.0.0-beta2 related to arrays inside a kernel.

The following kernel generates a `NullReferenceException` when ILGPU is compiling the kernel:
[code]

Minimal example program:
[IssueArrayIndexer.zip](https://github.com/m4rs-mt/ILGPU/files/6873343/IssueArrayIndexer.zip)

Stack trace:
[code]

[2021-07-25 05:06] MoFtZ commented on #548
In the unit tests, the precision is really just a guide for what we can expect over a range of values. To get the tests passing on Joey9801's machine, we could lower the accuracy of the CUDA `tanh` unit test from 6 decimal places to 5 decimal places.

In `XMath`, we are using the following trigonometric identity to calculate [tanh](https://github.com/m4rs-mt/ILGPU/blob/master/Src/ILGPU.Algorithms/

[2021-07-25 06:09] MoFtZ commented on #542
This could potentially be split into two parts. The first part is adding support for `ImmutableArrayView`, which would be useful by itself in ensuring that the code does not modify the contents of an ArrayView. Then, the second part, adding support for constant memory. We would need to decide if this is automatically handled by ILGPU, or explicitly annotated by the caller.

[2021-07-25 09:17] CsabaStupak commented on #542
My vote is for automatic handling. Today if I call a kernel method I provide its arguments - view and even other non-view/const values. I guess ILGPU automatically move these values to GPU const memory or to GPU registers. I suppose that I can't move the GPU memory content to the GPU const memory inside the kernel since it should be const during the kernel call. However I do not see the whole pict

[2021-07-25 10:58] ljubon commented on #552
@m4rs-mt usually this first formatting is the most painful since, as you said, we are changing lots of lines to comply with current rules. When I say rules I mean few rules we define in `ILGPU.DotSettings`.
With experience from the last PR for formating code `ParquetSharp`... I'm expecting from you/team to let me know which rules you want to keep and/or which to add. You can do that simply by comm

[2021-07-25 12:29] m4rs-mt commented on #554
@MoFtZ Thanks for posting this issue report. I am going to take a closer look 🤓

[2021-07-26 20:45] m4rs-mt commented on #548
@MoFtZ I think that lowing the precision in the unit tests to 5 decimal places is fully acceptable for now. We can refine this implementation in the future. However, while thinking about `tanh`, we can also implement support for the newly added `PTX` intrinsic implementation that is available with CC >= 8.0.

[2021-07-26 21:43] MoFtZ commented on #548
Wait a minute... we *did* add support for the [tanh intrinsic](https://github.com/m4rs-mt/ILGPU/pull/187). I think that's why the tests are failing - the 3090 is using the `tanh` intrinsic, which has lower precision that the software implementation.

We still need to lower the precision of the unit test, but this time, to support the hardware intrinsic.

[2021-07-27 08:50] m4rs-mt commented on #548
@MoFtZ you are right 🚀

[2021-07-27 08:51] #548 closed

[2021-07-28 16:31] m4rs-mt commented on #554
@MoFtZ The issue is related to an invalid `load` optimization inside the adapted `SSAStructureConstruction` pass. This transformation accidentally rewrites a load to a single element into a load of the newly introduced "array value structure".

[2021-07-29 06:00] CsabaStupak opened #558 "Shared memory and As2DView/As3DView usage"
I'm a bit confused how to use the stride stuff with `As2DView`/`As3DView`. In my kernel I would like to work with 2D and sometimes with 3D version of dynamically allocated shared memory. Since there are no documentation on this topic yet I would like to know which stride setting is the fastest (and correct). Note I do not need to transform the 1D shared memory view - it is random anyway, I just ne

[2021-07-30 06:09] MoFtZ commented on #558
`As2D/3DView` does not physically transform the block of memory. It is still the same contiguous block of memory, just interpreted differently - when you access the view, it will perform the `nY * nDimX + nX`-style calculations on your behalf.

Regarding `Stride3D.DenseZY`, the constructor takes `xStride` and `yStride`. The stride refers to the number of elements to skip to get to the `X + 1` or `

[2021-07-30 06:49] CsabaStupak commented on #558
Now it is clear :-) Thanks!

[2021-07-30 08:02] DanJBower opened #560 "Samples not building"
None of the samples appear to build

Seems to be for a few issues:

* Relative path to ILGPU source code projects are incorrect in the ProjectReferences.
* The ILGPU source code projects are not in the samples solution
* The samples appear to be written against an older version of the project

[2021-07-30 08:03] DanJBower commented on #560
Would be happy to try fix the first two points over the weekend if it would help the project out

[2021-07-30 09:32] m4rs-mt commented on #560
@DanJBower Yes that's right 🤓 We are still in an intermediate stage of translating the samples. I am going to write an issue about that describing the tasks ToDo. For now, you can stick to the sample in the separate [Samples](https://github.com/m4rs-mt/ILGPU.Samples) repository that are compatible with `v0.10.X`.

[2021-07-30 09:36] m4rs-mt commented on #558
@CsabaStupak An additional remark: `Stride2D.DenseY` is not "faster" than `Stride2D.DenseX` in general. I was just referring to the fact that `Stride2D.DenseY` means that the same memory layout is used as in .Net, which improves the transfer speed between CPU and GPU. Otherwise, it just depends on your access patterns within your kernel 😄.

[2021-07-30 09:40] DanJBower commented on #560
@m4rs-mt Thanks. Will check that repo out

[2021-07-30 10:21] m4rs-mt opened #562 "Port Samples to v1.0.X"
Currently we are on the "home stretch" regarding version `v1.0`. The most important parts of the API (should) be considered stable and frozen. This provides the opportunity to port all example projects from now on. The following example projects need to be ported:

- [x] AdjustableSharedMemory
- [x] AdvancedAtomics
- [x] AdvancedViews
- [x] AlgorithmsCuBlas
- [x] AlgorithmsGroups
- [x] AlgorithmsI

[2021-07-30 10:23] m4rs-mt commented on #560
@DanJBower I created an additional issue #562 summarizing the examples to be ported. Let's close this issue for now and continue possible discussions in the new issue/task description.

[2021-07-30 10:23] #560 closed

[2021-07-30 11:05] #554 closed

[2021-07-30 11:51] MoFtZ commented on #562
I've ported the `Simple` folder in #563.

Going to start work on the `Algorithms` folder.

[2021-07-31 12:24] MoFtZ opened #567 "Regression when allocating 2D/3D SharedMemory inside kernel since ILGPU v1.0.0-beta1"
When compiling a kernel using `SharedMemory` to allocate 2D or 3D memory, ILGPU is throwing a `NotSupportedException` with the message `The allocation size of type 'Int32' must be statically known and not a dynamic value`.

The `SharedMemory.Allocate2D` and `SharedMemory.Allocated3D` functions were changed to accept `Index2D/Index3D` in the new Memory API, which appears to be causing an issue with

[2021-07-31 14:20] m4rs-mt commented on #562
@MoFtZ, @MPSQUARK, @Yey007, @faruknane, @NullandKale while reviewing the examples I was wondering if we should update the language to "C# 8.0" (in quotes because not all functions are supported by all frameworks). At the very least, this would greatly simplify the "using" statements. What do you think?

[2021-07-31 14:22] m4rs-mt commented on #567
We had similar problems with this kind of assignment scheme in the past. The problem was that the constants could not be propagated through all stages of the compiler until they reached the actual backend code generator.... I am going to look into it.

[2021-07-31 14:27] m4rs-mt commented on #558
@CsabaStupak @MoFtZ Maybe we should provide additional overloads to simplify using the `AsNDView` methods? I was thinking about something like `someView.AsNDDenseYView(extent)`, which automatically "infers" the "right" `DenseY` stride information.

[2021-07-31 14:34] CsabaStupak commented on #558
That is a good idea. It follows the Accelerator.Allocate2DDenseY like methods :-)

[2021-07-31 18:02] NullandKale commented on #562
I am always up for more language features. Plus this would better match my tutorials which use the new using syntax heavily.

[2021-08-01 09:18] MoFtZ commented on #562
Sounds like a good idea. I was also thinking we might want to update the formatting to match the rest of ILGPU, and fix all warnings.

[2021-08-01 10:54] MoFtZ commented on #567
What was the reason for changing the API to accept `Index2D`, rather than `int x, int y`?

[2021-08-01 10:56] MoFtZ commented on #558
Sounds like a useful addition 👍

[2021-08-02 00:32] m4rs-mt commented on #567
@MoFtZ I analyzed the problem in detail and it turns out that ILGPU is not able to fold all conditionals inside the `ComputeBufferLength` call of the `Stride2D` type:
[code]

I think that the problem is related to one of the transformation phases not working correctly/not covering some additional edge cases.

[2021-08-02 10:48] #558 closed

[2021-08-02 20:38] #567 closed

[2021-08-05 14:40] m4rs-mt commented on #562
All open questions/tasks have been addressed in #584.

[2021-08-05 14:40] #562 closed

[2021-08-09 19:47] mikhail-khalizev opened #587 "[Feature request] Execute native PTX code"
At the moment, the following technology is obtained: C# is compiled to IL, and then from IL is converted to PTX and run on a video card.

On the one hand, this is good and convenient - you can run some of the C# methods on the GPU. Unfortunately, the quality of the code sometimes suffers. And I noted a rather non-optimal PTX code, simply because at the C# -> IL stage, the quality drops a lot for t

[2021-08-09 23:21] MoFtZ commented on #587
In ILGPU v1.0.0-beta1, the `CudaAsm` class was added to support inline PTX assembly.

The original PR is https://github.com/m4rs-mt/ILGPU/pull/467.

The inline PTX assembly documentation can be found here:
https://docs.nvidia.com/cuda/inline-ptx-assembly/index.html

`CudaAsm.Emit` attempts to mimic `asm`, so it uses `%0` and `%1` rather than the .NET convention of `{0}` and `{1}` for placeholders.

[2021-08-10 05:48] mikhail-khalizev commented on #587
Thanks a lot.

[2021-08-10 05:48] #587 closed

[2021-08-11 04:50] MoFtZ opened #589 "How to access NuGet Preview Symbols?"
@76creates @jgiannuzzi
Now that we have pre-release nuget packages uploaded to Feedz.IO, how can we get access to the symbols?

[2021-08-12 06:56] mikhail-khalizev opened #590 "[Feature request] Monitoring progress of execution"
Situation. The GPU runs a kernel that takes a long time, say, 10 minutes. And the UI needs to display the progress bar.

I found an interesting solution here: https://stackoverflow.com/a/20381924. The point is that we are sharing a memory cell between the GPU and the Host (cudaHostAllocMapped). And the GPU writes the current progress to this variable, and the Host reads this value from time to tim

[2021-08-12 11:21] jgiannuzzi commented on #589
According to the [Feedz.io documentation](https://feedz.io/docs/package-types/symbols), you should add the following URL as a Symbol file location to your IDE: https://f.feedz.io/ilgpu/preview/symbols.

Could you please confirm that it works? If so, we can then update the documentation with instructions about how to access the preview symbols.

[2021-08-13 01:33] MoFtZ commented on #590
hi @mikhail-khalizev, I have attached a sample program that does what you want, at least on my computer.

It makes use of the low-level `CudaAPI` class in ILGPU to `AllocateHostMemory`.

I'm running on Windows 10 Pro 20H2, so I had to use the [WDDM workaround](https://stackoverflow.com/questions/20345702/how-can-i-check-the-progress-of-matrix-multiplication/20381924#comment55308772_20381924) from

[2021-08-13 02:00] MoFtZ commented on #589
Thanks @jgiannuzzi - that appears to be working 🎉

In VS2019, under `Tools` -> `Options`:
![image](https://user-images.githubusercontent.com/27792737/129294190-c5433daa-557c-44a5-966e-d86c588d0818.png)

I am familiar with adding directory paths, but did not realise it also accepted HTTP urls.

[2021-08-13 02:00] #589 closed

[2021-08-13 03:57] MoFtZ commented on #590
On `net5.0`, the host buffer could also be allocated using `GC.AllocateArray` to create a pinned array:
[code]
.. with an updated `CudaHostMemoryBuffer` implementation of:
[code]
... and a progress while loop of:
[code]

[2021-08-13 04:19] mikhail-khalizev commented on #590
Thank you!
I recommend adding this to ILGPU.Samples.

[2021-08-16 08:09] #590 closed

[2021-08-17 05:28] joshisunil-1983 opened #596 "ILGPU using for dataset creation"
Hello,

ILGPU can be used ? to create Numerous of data tables from data objects like class objects etc.

In my case one of my window application used to perform calculations on data is taking time to fill calculated variable results in data tables. I want run this part on GPU so that performance can be achieved.

may I proceed with this using ILGPU. Please guide.

[2021-08-17 07:28] madsami opened #597 "Arrays in structs?"
I need to have structs with the layout e.g.,
[code]

But when I try to declare it like so: _public ArrayView<MyStruct> population_ I get the error **'MyStruct' must be a non-nullable value type, along with all fields at any level of nesting, in order to use it as parameter 'T' in the generic type or method 'ArrayView<T>'.**

I tried replacing the double[] with ArrayView<double>, but it's the same.

[2021-08-17 10:44] MoFtZ commented on #597
hi @madsami. As you noticed, ILGPU only supports "value types". Arrays in .Net are considered a reference type, and the struct just holds a reference to another object (the array).

If your data is a fixed length, you could try using [fixed sized buffers](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/unsafe-code#fixed-size-buffers), which are supported in ILGPU:
[code]
The abov

[2021-08-17 10:51] MoFtZ commented on #596
hi @joshisunil-1983. ILGPU currently provides support for [value types](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/value-types) only. Class objects are considered a `https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/reference-types`, so they cannot be used when allocating memory buffers.

If you are able, try to change some of your data

[2021-08-18 06:57] joshisunil-1983 commented on #596
@MoFtZ Thank you for the information.

[2021-08-18 06:57] #596 closed

[2021-08-18 16:16] m4rs-mt opened #598 "Copyright transfer of individual contributions to "the ILGPU Project""
Dear community members and contributors,

Currently ILGPU uses several copyright “headers”/“notes” scattered throughout the source and license files. As we get more and more contributors, we would like to unify all copyright and license information. This consistency will make using and sharing the code clearer and cleaner.

In order to move forward with this step, we need your help! Since you are

[2021-08-18 16:16] m4rs-mt commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project! 🚀

[2021-08-18 16:17] kant2002 commented on #598
Yes, I accept the transfer of the copyright of my individual contributions
to the ILGPU Project! 🚀

On Wed, Aug 18, 2021 at 10:16 PM Marcel Koester ***@***.***>
wrote:

[2021-08-18 16:18] NullandKale commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project! 🚀

[2021-08-18 16:20] Ruberik commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project! 🚀

[2021-08-18 16:20] phoyd commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 16:23] jgiannuzzi commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 16:25] albosc commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 16:37] LxBos commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 16:49] mikhail-khalizev commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 17:31] ljubon commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 19:12] MoFtZ commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project! 🚀

[2021-08-18 20:54] adamreeve commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 21:13] Joey9801 commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-18 21:27] IfZen commented on #598
Yes, I accept the transfer of the copyright of my individual contributions
to the ILGPU Project!

Le mer. 18 août 2021 à 23:13, Joe Roberts ***@***.***> a
écrit :

--
Mickaël Labau

[2021-08-19 06:04] mfagerlund commented on #598
Yes, I accept the transfer of the copyright of my individual contributions
to the ILGPU Project!

Den ons 18 aug. 2021 kl 18:16 skrev Marcel Koester ***@***.***

--
/Mattias Fagerlund

[2021-08-19 08:28] marcin-krystianc commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-19 23:28] c-rindi commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project! 🚀

[2021-08-21 21:10] 12345swordy commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-24 21:18] 76creates commented on #598
, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-25 07:41] Yey007 commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-08-30 09:55] RER009 opened #603 "Copy filled struct To GPU"
Hello,

I'm trying to copy filled data structure from CPU to GPU. Depending of selected accelerator, I have not the same result (CPU|Cuda:OK  OpenCL:Not OK)

As example, I use the sample ILGPU.Samples/SimpleStructures and try to copy a single element from CPU memory to buffer before launch kernel.
For OpenCL accelerator only, data is not copied into the buffer.

See code below :
[code]

Could you

[2021-08-30 23:41] MoFtZ commented on #603
hi @RER009.

How are you checking that the OpenCL buffer does not have the correct results? Allocating a buffer on the GPU does not zero-initialize the block of memory, so it may contain random values.

What device are you using for your OpenCL accelerator? On my computer, the only OpenCL device is the integrated GPU (Intel HD Graphics 630). Have you tried updating the drivers for this device? I h

[2021-08-31 15:52] yuryGotham opened #604 "New API (1.0.0) samples needed"
Could somebody provide some basic samples for how to use the new API?

1) How do I copy a portion for a 1D C# array into gpu memory (say MemoryBuffer1D<float, Stride1D.Dense>):

[code]

2) How do I use the locked memory copy, same as above , but data is defined:
[code]

[2021-09-01 05:32] conghuiw opened #606 "About MemSet function - How to initializes whole memory buffer to Non-Zero value."
Greetings!

I use ILGPU for a while, it's pretty cool!

[code]

Thank you for your help

[2021-09-01 05:33] conghuiw commented on #606
btw I use [SimpleAlloc] Sample for testing.

[2021-09-01 09:59] RER009 commented on #603
hi MoFtZ,

I investigated this issue a little.

In conclusion, there is an issue when I use debuging tools in Visual Studio.

When I try to watch the "View" property of memoryBuffer, I have different results depending of selected accelerator.
When I use GetAsArray() method,to retrieve a copy of data, all is is well filled in the array.

I don't know if View property can be used for debugging, but

[2021-09-01 11:30] MoFtZ commented on #604
hi @yuryGotham, I have updated [this PR](#600) to show an example of offset copying.

In your case, you can use something like:
[code]

Regarding the use of locked memory copy, have a look at [existing PinnedMemoryCopy sample.](https://github.com/m4rs-mt/ILGPU/blob/361795308390e0e3752448a14891ef686e5cf6ab/Samples/PinnedMemoryCopy/Program.cs#L86). It shows how to copy from an page locked array into

[2021-09-01 11:35] m4rs-mt commented on #606
@conghuiw Thank you very much for your question. The general "issue" is that ILGPU exposes the low-level `MemSet` functions from the driver APIs. Therefore, we support direct buffer-focused operations working on `byte` values only. If you want to initialize a buffer with a different value type (like an `int`) you can use the `Algorithms` library and its provided `Initialize` extension method:
[cod

[2021-09-01 12:02] MoFtZ commented on #603
Thanks for looking into the issue @RER009.

OK, so it sounds like this known issue #345, which was fixed in ILGPU v0.10.x. Note that the ILGPU.Samples repository is currently using ILGPU v0.9.2.

Please update to ILGPU v0.10.x.

[2021-09-01 14:23] RER009 commented on #603
I had already updated the version to 0.10.1 in ILGPU.Samples and it seems this little bug is still there.
For information, my device for OpenCl accelerator is Intel UHD 620.

[2021-09-02 18:31] #604 closed

[2021-09-03 01:50] #606 closed

[2021-09-08 10:07] conghuiw opened #612 "Use case of LoadAutoGroupedStreamKernel - Action<T1,T2,T3...> max delegate parameters"
Hi,

I saw LoadAutoGroupedStreamKernel function takes parameter Action<T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14> up to 14 max. would like to know your opinion about use LoadAutoGroupedStreamKerne function in case of more than 14 data structures.

regards.

[2021-09-08 23:00] MoFtZ commented on #612
hi @conghuiw. The `Action<>`  delegate of the .NET runtime provides up to 16 generic arguments. ILGPU makes use of up to 2 arguments for some kernels, as these kernels include `AcceleratorStream` and/or `KernelConfig`.

If you need to pass more parameters, you can consider using a `struct` to group parameters together. ILGPU supports structs with unmanaged types, so they can have the basic types (

[2021-09-09 09:48] conghuiw commented on #612
Hi, MoFtZ
Thank you for your guidance, I'm going to read more samples in ILGPU.

[2021-09-09 09:48] #612 closed

[2021-09-09 17:22] lostmsu opened #614 "`AccessViolationException` trying to run a specialized kernel on CPU"
Sorry I did not narrow the issue down further.

There's the gist demonstrating the problem (about 100 lines total):
https://gist.github.com/lostmsu/debe2a5f4565189f9e722f1dfeb6050f

This is on `1.0.0-beta3`. I have not tested earlier versions or other accelerator implementations.

OS: Windows 10

[2021-09-09 17:25] lostmsu commented on #614
[code]

[2021-09-09 17:33] lostmsu commented on #614
In case it is the culprit, implementation of `UnsafeRef`:
https://github.com/losttech/TypeNum/blob/f28befa00b82d2d154cc947b529520f77db2c5a6/src/FixedArray.cs#L39

[2021-09-10 06:59] MoFtZ commented on #614
hi @lostmsu. OK, I've managed to reduce the problem down to a small example:
[code]
The issue appears to be that you overrode `bool object.Equals(object?)` but not `int object.GetHashCode()`.

The compiler generates the warning:
`CS0659: 'Program.MyStruct' overrides Object.Equals(object o) but does not override Object.GetHashCode()`.

If you implement `GetHashCode`, even if it is a really bad hash

[2021-09-10 08:05] MoFtZ opened #615 "Assert triggered in ILGPU v1.0.0-beta3 when using infinite strides."
When indexing into an ArrayView, we perform bounds validation on the requested index. However, when using `Stride1D.Infinite` (or other infinite strides), the assertion is triggered because we check the bounds first, before consulting the stride implementation.

Reproduction example:
[code]

[2021-09-10 09:20] m4rs-mt commented on #615
@MoFtZ Looks like you are right. The bounds checking is not performed on the "strided" index.

[2021-09-10 16:32] lostmsu commented on #614
@m4rs-mt why is this an issue? Do generated kernels ever call `.GetHashCode()`?

AFAIK the default `GetHashCode()` implementation is not guaranteed to be suitable for hashtables, but in practice it usually is, especially in your narrowed down example. See [SharpLab](https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYAMBYAUBgRjzwDcBDMAAgAsDKBeSqAUwHdKAJZgG24HsA3pQAiZYGQaUALOkoBfANykKNWYxbsuvQSLETGM+Utx

[2021-09-11 12:53] m4rs-mt commented on #614
@lostmsu kernels do not call the `GetHashCode` method in any case. However, the way the `SpecializedValue` cache works (since we need to check if a kernel has already been compiled for the given parameter combination) is that it calls the `GetHashCode` method in automatically generated code. This is the reason why this could cause the internal `AccessViolationException`.

Also, I like the idea of

[2021-09-12 03:53] lostmsu commented on #387
I wonder if this should be in the scope of this library...

[2021-09-12 04:00] lostmsu commented on #614
@m4rs-mt got a fix for the generated code. Do the custom structs for specialized kernel launches actually speed things up enough to justify complexity of code generation?

[2021-09-19 17:43] lostmsu commented on #598
Yes, I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-09-20 16:41] dfki-mako commented on #598
Yes, (on behalf of all DFKI contributors) we accept the transfer of the copyright of our (individual) contributions to the ILGPU Project! 🚀

[2021-09-21 23:42] kilngod commented on #598
Yes! I accept the transfer of the copyright of my individual contributions to the ILGPU Project!

[2021-09-22 17:16] cino189 opened #620 "PTX JIT compilation failed when compiling a kernel with a double atomic add operation"
Hi, first of all thank you very much for your work, this package is really powerful.

I designed a kernel to lookup and aggregate values on a large 2d array. The search operation is done on a int 2d memory buffer, while the aggregation is done on a float or a double 2d memory buffer.

With float it works perfectly but with double I get PTX JIT compilation failed, CUDA_ERROR_INVALID_PTX

If I run t

[2021-09-22 18:02] cino189 commented on #620
I think I narrowed down the problem, it is actually the atomic operation causing the issue, apparently it is not working correctly for float. I searched a bit online and i found that after pascal double atomic operations are supported in cuda.

[2021-09-22 20:21] MoFtZ commented on #620
hi @cino189. The reason is that `ILGPU v0.10.x` is not compatible with `ILGPU.Algorithms v0.9.x` - there was a breaking change in the ILGPU APIs.

You should either use:
- `ILGPU v0.10.1` with `ILGPU.Algorithms v0.10.0-beta1`, or
- `ILGPU v0.9.2` with `ILGPU.Algorithms v0.9.2`.

Hope that helps.

[2021-09-22 20:50] #614 closed

[2021-09-23 07:59] cino189 commented on #620
hi @MoFtZ indeed upgrading algorithms to v0.10.0-beta1 solved the issue. Thanks!

[2021-09-23 07:59] #620 closed

[2021-09-26 10:40] a-a-k opened #621 "Can not access internal ctor"
I'm just trying to getting started but faced that error on the `using var context = new Context();` line. What am I doing wrong? I'm using 1.0.0-rc1 version.

[2021-09-26 10:50] MoFtZ commented on #621
hi @a-a-k. There has been some major/breaking changes in the API between v0.10.x and v1.x. One of the changes is that the `Context` class is no longer directly constructed. Instead, use something like:
[code]
More information can be found in the [release notes](https://github.com/m4rs-mt/ILGPU/releases/tag/v1.0-beta1) or [samples](https://github.com/m4rs-mt/ILGPU/tree/master/Samples). Hope that he

[2021-09-26 11:04] a-a-k commented on #621
@MoFtZ very much thanks for so quick answer!

[2021-09-26 11:04] #621 closed

[2021-10-01 17:27] Ruberik opened #623 "Memory error using blas with multiple accelerators"
### The very short summary
The following series of function calls causes a crash:
[code]
I would have expected this set of function calls to execute the Axpy operations on each GPU without crashing.

### The plot thickens
The following series of function calls _does not_ cause a crash:
[code]

### The full repro
[code]
### The output
[code]
### The setup
* Windows 10 Pro, 64-bit
* ILGPU 1.0.0-rc1

[2021-10-01 18:29] Ruberik commented on #623
Note that it also fails on a setup with four T4 GPUs, though weirdly it only crashes when we synchronize the last GPU.
[code]

[2021-10-01 19:06] Ruberik commented on #623
### A related problem
I can't call blas.Gemm without a crash, unless the accelerator on which blas.Gemm was called is _the last accelerator to have been synced_. That's demonstrated in this code:

[code]
Note that in the first call, we call acc0.Sync, acc1.Sync, acc0.Sync, and it works fine. In the second call, we call acc0.Sync, acc1.Sync and it crashes.

Output:
[code]
[code]

[2021-10-01 23:49] MoFtZ commented on #623
hi @Ruberik. My guess is that you are running into an issue with CuBlas using the wrong device/accelerator. The CUDA documentation refers to [Device Selection](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#device-selection), where the programmer needs to manually switch between devices. The issue sounds like CuBlas is using a different device than it was created with.

Internall

[2021-10-02 09:07] #623 closed

[2021-10-04 00:43] sanikolov opened #633 "Question: calculate Euclidian distances with ILGPU"
I looked carefully at the samples and open and closed issues for this repo but am still struggling with the following task.
Suppose we have 50K pairs of vectors (A1,B1), (A2,B2),...etc where each vector A[i], B[i] contains 3000 floats.
I'd like to calculate 50K Euclidian distances as floats between these vectors, i.e.
`float d[i] = distance(A[i],B[i]),` for i = 0 to 50K-1
The way I wanted to go ab

[2021-10-04 05:06] MoFtZ commented on #633
hi @sanikolov.

I've put together an example program that hopefully covers your problem description.

The kernel is the entry point to code that runs on the GPU. The code for calculating the distance does not have to be another kernel, it can be part of the main kernel.

For your input vectors, I have used a struct to hold the 3000 values. This could also have been represented by a 15,000,000 elem